<a href="https://colab.research.google.com/github/navbharti/programming/blob/master/Cracking_Code_Python_for_BCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Fundamental of Python
  1. Python interpreter and interactive mode
  2. Data types
  3. Conditionals: Boolean values and operators, operator precedence and comments variables, expressions, statements conditional (if), alternative (if-else), chained conditional (if-elif-else);
  4. Iteration: state, while, for, break, pass

  5. List, Set, Tuple ,Dictionary

  6. Comparison between Lists, Tuple,Set, Dictionary

  7. Functions and Recursion 

  8. Strings

 The Complete Monty Python's Circus

 1. Functional Programming Features from C
 2. Object Oriented Programming Features from C++
 3. Scripting Language Features from Perl and Shell Script
 4. Modular Programming Features from Modula-3

# Can be used for
* For developing Desktop Applications
* For developing web Applications
* For developing database Applications
* For Network Programmin
* For developing games
* For Data Analysis Applications
* For Machine Learning
* For developing Artificial Intelligence Applications
* For IoT

# Features of Python
* Simple and easy to learn
* Freeware and Open Source
* High Level Programming language
* Platform Independent
* Portability
* Dynamically Typed
* Both Procedure Oriented and Object Oriented
* Interpreted
* Extensible
* Embedded
* Extensive Library

##  Performance wise not up to the mark because it is interpreted language.
## Not using for mobile Applications.

Python 3.10.6 Python 2.7.13

## CPython:
  It is the standard flavor of Python. It can be used to work with C lanugage Applications.
## Jython OR JPython:
  It is for Java Applications. It can run on JVM
## IronPython:
  It is for C#.Net platform
## PyPy:
  The main advantage of PyPy is performance will be improved because JIT compiler is
 available inside PVM.
## RubyPython
  For Ruby Platforms
## AnacondaPython

# 33 reserved Words

## True, False, None
## and, or ,not,is
## if, elif, else
## while, for, break, continue, return, in, yield
## try, except, finally, raise, assert
 
## import, from, as, class, def, pass, global, nonlocal, lambda, del, with

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

`>>>` 


`c:\> python abc.py`

In [2]:
 print("Hello World")

Hello World

# Data Types

1) Int

2) Float

3) Complex

4) Bool

5) Str

6) Bytes

7) Bytearray

8) Range

9) List

10) Tuple

11) Set

12) Frozenset 

13) Dict

14) None

# several inbuilt functions

type()

id()

print()

# int Data Type

 Decimal form (default number system)

 Binary form (prefixed with 0B or 0b)

 Octal form (prefixed with 0o 0O)

 Hexa decimal form (prefixed with 0x or 0X)

In [3]:
a = 0B1111
a = 0B123
a= b111

SyntaxError: ignored

In [4]:
a = 0o123
a = 0o786

SyntaxError: ignored

In [5]:
a = 0XFACE
a = 0XBeef
a = 0XBeer

SyntaxError: ignored

# Base Conversion

In [6]:
a = bin(15)
#'0b1111'
b = bin(0o11)
#'0b1001'
c = bin(0X10)
#'0b10000'
print(a)
print(b)
print(c)

0b1111
0b1001
0b10000

In [7]:
d = oct(10)
#'0o12'
e = oct(0B1111)
#'0o17'
f = oct(0X123)
#'0o443'
print(d)
print(e)
print(f)

0o12
0o17
0o443

In [8]:
g = hex(100)
#'0x64'
h = hex(0B111111)
#'0x3f'
i = hex(0o12345)
#'0x14e5'
print(g)
print(h)
print(i)

0x64
0x3f
0x14e5

In [9]:
a=10
b=20
print("TheSum:",(a+b))

TheSum: 30

In [10]:
a = 10
print(type(a))

<class 'int'>

# Float Data Type

In [11]:
f = 1.234
print(type(f)) # float

<class 'float'>

In [12]:
f = 1.2e3 # instead of 'e' we can use 'E'
print(f) #1200.0

1200.0

In [13]:
b = True
print(type(b))

<class 'bool'>

# Complex Data Type:

In [14]:
c = 4+5j
print(type(c))

<class 'complex'>

In [15]:
a=0B11+5j
print(a)
#(3+5j)
a=3+0B11j
#SyntaxError: invalid syntax

SyntaxError: ignored

## operations on complex type values

In [16]:
a=10+1.5j
b=20+2.5j
print(a+b)
print(a-b)
print(a*b)
print(a/b)

(30+4j)
(-10-1j)
(196.25+55j)
(0.5015384615384615+0.012307692307692308j)

In [17]:
print(a.real)
print(a.imag)

10.0
1.5

## bool Data Type:

In [18]:
b=20
c=a<b
print(c) # True
print(True+True) # 2
print(True-False) # 1

TypeError: ignored

## str Data Type:

Single Quote

Double Quote

Triple Quote

## Slicing of Strings:

slice means a piece

[ ] operator is called slice operator, which can be used to retrieve parts of String.

In Python Strings follows zero based index.

The index can be either +ve or -ve.

+ve index means forward direction from Left to Right

-ve index means backward direction from Right to Left

In [19]:
s="jain university"
s[0]

s[1]

s[-1]

s[40]
s[1:40]
s[1:]

s[:4]
s[:]
s*3
len(s)

IndexError: ignored

# TYPE CASTING

In [20]:
print(int(123.987))
#123
print(int(10+5j))
# TypeError:can'tconvertcomplextoint
print(int(True))
#1
print(int(False))
#0
print(int("10"))
#10
print(int("10.5"))
# ValueError: invalid literal for int() with base 10: '10.5'
print(int("ten"))
# ValueError: invalid literal for int() with base 10: 'ten'
print(int("0B1111"))
# ValueError: invalid literal for int() with base 10: '0B1111'

123

TypeError: ignored

In [21]:
print(float(10))
# 10.0
print(float(10+5j))
# TypeError:can'tconvertcomplextofloat
print(float(True))
# 1.0
print(float(False))
# 0.0
print(float("10"))
# 10.0
print(float("10.5"))
# 10.5
float("ten")
# ValueError: could not convert string to float: 'ten'
float("0B1111")
# ValueError: could not convert string to float: '0B1111'

10.0

TypeError: ignored

In [22]:
complex(10) #==>10+0j
complex(10.5) #===>10.5+0j
complex(True) #==>1+0j
complex(False) #==>0j
complex("10") #==>10+0j
complex("10.5") #==>10.5+0j
complex("ten")
# ValueError: complex() arg is a malformed string

complex(10, -2) #10-2j
complex(True, False) #1+0j

ValueError: ignored

In [23]:
bool(0) #False
bool(1) #True
bool(10) #True
bool(10.5) #True
bool(0.178) #True
bool(0.0) #False
bool(10-2j) #True
bool(0+1.5j) #True
bool(0+0j) #False
bool("True") #True
bool("False") #True
bool("") # False

False

In [24]:
str(10)
# '10'
str(10.5)
# '10.5'
str(10+5j)
# '(10+5j)'
str(True)
# 'True'

'True'

All Fundamental Data types are immutable.

In Python if a new object is required, then `PVM` won’t create object immediately. 

First it will check if any object available with the required content or not. 

If available then existing object will be reused. If it is not available then only a new object will be created. The advantage of this approach is memory utilization and performance will be improved.

several references pointing to the same object

But the problem in this approach is, several references pointing to the same object, 
by using one reference if we are allowed to change the content in the existing object then the remaining references will be effected. 

To prevent this immutability concept is required. According to this once creates an object we are not allowed to change content. 

If we are trying to change with those changes a new object will be created.

In [25]:
a=10
b=10
a is b
# True
id(a)
# 1572353952
id(b)
# 1572353952

11256352

## bytes Data Type:

In [26]:
x = [10,20,30,40]
b = bytes(x)
type(b) # bytes
print(b[0]) # 10
print(b[-1]) # 40
for i in b : print(i)

10
40
10
20
30
40

The only allowed values for byte data type are 0 to 256. By mistake if we are trying to
 provide any other values then we will get value error.

Once we creates bytes data type value, we cannot change its values,otherwise we will get
 TypeError.

In [27]:
x=[10,20,30,40]
b=bytes(x)
b[0]=100
# TypeError: 'bytes' object does not support item assignment

TypeError: ignored

##  bytearray Data Type:
  bytearray is exactly same as bytes data type except that its elements can be
 modified.

In [28]:
x=[10,20,30,40]
b=bytearray(x)
for i in b: print(i)
b[0]=100
for i in b: print(i)

10
20
30
40
100
20
30
40

In [29]:
x=[10,256]
b=bytearray(x)
# ValueError:bytemustbeinrange(0,256)

ValueError: ignored

#  List Data Type

  If we want to represent a group of values as a single entity where insertion order
 required to preserve and duplicates are allowed then we should go for list data

 Insertion Order is preserved

 Heterogeneous Objects are allowed

 Duplicates are allowed

 Growable in nature

 Values should be enclosed within square brackets.

In [30]:
list=[10,10.5,'durga',True,10]
print(list) # [10,10.5,'durga',True,10]

[10, 10.5, 'durga', True, 10]

In [31]:
list=[10,20,30,40]
list[0]
# 10
list[-1]
# 40
list[1:3]
# [20,30]
list[0]=100
for i in list: print(i)

100
20
30
40

list is growable in nature. i.e based on our requirement we can increase or decrease the
size.

In [32]:
list=[10,20,30]
list.append("durga")
list
# [10,20,30,'durga']
list.remove(20)
list
# [10,30,'durga']
list2=list*2
list2
# [10, 30, 'durga', 10, 30, 'durga']

[10, 30, 'durga', 10, 30, 'durga']

An ordered, mutable, heterogenous collection of eleemnts is nothing but list,
  where duplicates also allowed.

## Tuple Data Type:
  tuple data type is exactly same as list data type except that it is immutable.i.e we cannot chage values.
 Tuple elements can be represented within parenthesis.

In [33]:
t=(10,20,30,40)
type(t)
# <class'tuple'>
t[0]=100
# TypeError:'tuple'objectdoesnotsupportitemassignment
t.append("durga")
# AttributeError:'tuple'objecthasnoattribute'append'
t.remove(10)
# AttributeError:'tuple'objecthasnoattribute'remove'

TypeError: ignored

##  Range Data Type:
  range Data Type represents a sequence of numbers.
 The elements present in range Data type are not modifiable. i.e range Data type is
 immutable.
 
 ### Form-1: range(10)
  generate numbers from 0 to 9

 `r = range(10)`

 `foriinr:print(i) #0to9`
 
 ### Form-2: range(10, 20)
  generate numbers from 10 to 19

 `r = range(10,20)`

 `for i in r : print(i) #10 to 19`

 ### Form-3: range(10, 20, 2)
2 means increment value

Eg:
We can access elements present in the range Data Type by using index.

Eg:
We cannot modify the values of range data type

Eg:
We can create a list of values with range data type

Eg:
11) set Data Type: ֍
1) 2) 3) 4) 5) 6)
26
 r = range(10,20,2)
 for i in r : print(i)10,12,14,16,18
 r = range(10,20)
 r[0]  10
 r[15]IndexError: range object index out of range
 r[0] = 100
 TypeError: 'rang

In [34]:
r = range(10,20,2)
for i in r : 
  print(i) #10,12,14,16,18

10
12
14
16
18

In [36]:
r = range(10,20)
r[0] # 10
r[15] #
# IndexError: range object index out of range

IndexError: ignored

In [38]:
r[0] = 100

TypeError: ignored

In [39]:
r = range(10)

for i in r:
  print(i) #0to9`
 
# generate numbers from 10 to 19
  
r = range(10,20)

for i in r : 
  print(i) #10 to 19`

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

## set Data Type:

A group of unique values or without duplicates and order is not important: `set Data Type`.

1)	Insertion order is not preserved

2)	Duplicates are not allowed

3)	Heterogeneous objects are allowed

4)	Index concept is not applicable

5)	It is mutable collection

6)	Growable in nature

In [41]:
s={100,0,10,200,10,'jain'}
print(s) 
s[0] ##TypeError: 'set' object does not support indexing

TypeError: ignored

set is growable in nature, based on our requirement we can increase or decrease the size.

In [44]:
s.add(60)
print(s)

s.remove(100)
print(s)

{40, 10, 20, 60, 30}

KeyError: ignored

## frozenset Data Type:

It is exactly same as set except that it is immutable.

Hence we cannot use add or remove functions.

In [43]:
s={10,20,30,40}
fs=frozenset(s)
print(type(fs))
print(fs)
# frozenset({40,10,20,30})
for i in fs:
  print(i)

fs.add(70)
# AttributeError: 'frozenset' object has no attribute 'add'
fs.remove(10)
# AttributeError: 'frozenset' object has no attribute 'remove'

<class 'frozenset'>
frozenset({40, 10, 20, 30})
40
10
20
30

AttributeError: ignored

## dict Data Type:

If we want to represent a group of values as key-value pairs then we should go for dict data type.

Eg: d = {101:'durga',102:'ravi',103:'shiva'}

Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

In [42]:
d={101:'mahesh',102:'ravi',103:'shiva'}
d[101]='sunny'
d
#  {101: 'sunny', 102: 'ravi', 103: 'shiva'}

#  We can create empty dictionary as follows
d={ }

#  We can add key-value pairs as follows
d['a']='apple'
d['b']='banana'
print(d)

{'a': 'apple', 'b': 'banana'}

dict is mutable and the order won’t be preserved.

Note:

1)	In general we can use bytes and bytearray data types to represent binary information like images, video files etc

2)	In Python2 long data type is available. But in Python3 it is not available and we can represent long values also by using int type only.

3)	In Python there is no char data type. Hence we can represent char values also by using str type.

## None Data Type:
•	None means nothing or No value associated.

•	If the value is not available, then to handle such type of cases None introduced.

•	It is something like null value in Java.

Eg:

In [45]:
def m1(): 
  a=10

print(m1()) 
# None

None

## Escape Characters:

In String literals we can use esacpe characters to associate a special meaning.

The following are various important escape characters in Python

 
1)	\n

2)	\t

3)	\r

4)	\b

5)	\f

6)	\v

7)  \'

8)  \"

9)  \\
....
 
New Line

Horizontal Tab

Carriage Return

Back Space

Form Feed

Vertical Tab

Single Quote

Double Quote

Back Slash Symbol

# OPERATORS
Operator is a symbol that performs certain operations.

Python provides the following set of operators

1)	Arithmetic Operators

2)	Relational Operators OR Comparison Operators

3)	Logical operators

4)	Bitwise oeprators

5)	Assignment operators

6)	Special operators

1)	Arithmetic Operators:

 
1)  +

2)  –

3)  *

4)  /

5)  %

6)  //

7)  **

Eg: test.py
 
Addition

Subtraction

Multiplication

Division Operator

Modulo Operator

Floor Division Operator

Exponent Operator OR Power Operator

In [46]:
a=10
b=2
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b= 12
a-b= 8
a*b= 20
a/b= 5.0
a//b= 5
a%b= 0
a**b= 100

In [47]:
a = 10.5
b=2

a+b # 12.5
a-b # 8.5
a*b #21.0
a/b # 5.25
a//b # 5.0
a%b # 0.5
a**b # 110.25

110.25

Note:

֍ / operator always performs floating point arithmetic. Hence it will always returns float value.

֍ But Floor division (//) can perform both floating point and integral arithmetic. If arguments are int type then result is int type. If atleast one argument is float type then result is float type.

Note:

֍ We can use +,* operators for str type also.

֍ If we want to use + operator for str type then compulsory both arguments should be str type only otherwise we will get error.

In [ ]:
"bangalore"+10
#	TypeError: must be str, not int
"Jain"+"10"

֍ If we use * operator for str type then compulsory one argument should be int and other argument should be str type.

In [48]:
2*"mahesh" 
"maheshrga"*2
2.5*"mahesh" 
# TypeError: can't multiply sequence by non-int of type 'float' 

"mahesh"*"suresh" 
# TypeError: can't multiply sequence by non-int of type 'str'

TypeError: ignored

 ` + ` ==>String Concatenation Operator

 ` * `  ==>String Multiplication Operator

Note: For any number x,

x/0 and x%0 always raises `"ZeroDivisionError"`

In [49]:

print(10/0)

print(10.0/0)

ZeroDivisionError: ignored

## Relational Operators: >, >=, <, <=

In [50]:
a=10
b=20
print("a > b is ",a>b)
print("a >= b is ",a>=b)
print("a < b is ",a<b)
print("a <= b is ",a<=b)

a > b is  False
a >= b is  False
a < b is  True
a <= b is  True

In [51]:
print(True>True)  #False
print(True>=True)  #True
print(10 >True) #True
print(False > True) #False

print(10>'suresh')
#	TypeError: '>' not supported between instances of 'int' and 'str'


a=10
b=20
if(a>b):
  print("a is greater than b")
else:
  print("a is not greater than b")

False
True
True
False

TypeError: ignored

Note: Chaining of relational operators is possible. In the chaining, if all comparisons returns True then only result is True. If atleast one comparison returns False then the result is False

In [53]:

print(10<20) #True
print(10<20<30 ) #True
print(10<20<30<40) #True
print(10<20<30<40>50) #False

True
True
True
False


3)	Equality Operators: ==, !=
We can apply these operators for any type even for incompatible types also.

In [55]:
10==20
#  False
10!= 20
#  True
10==True
#  False
False==False
#  True
"rakesh"=="rakesh"
# True
10=="rakesh"

False

We can apply relational operators for str types also.

Eg 2:

In [54]:
a="rakesh"
b="rakesh"
print("a > b is ",a>b)
print("a >= b is ",a>=b)
print("a < b is ",a<b)
print("a <= b is ",a<=b)

a > b is  False
a >= b is  True
a < b is  False
a <= b is  True

Note: Chaining concept is applicable for equality operators. If atleast one comparison returns False then the result is False. Otherwise the result is True.

In [56]:

10==20==30==40
#	False
10==10==10==10
#	True

True

## Logical Operators: and, or, not
We can apply for all types.

### For boolean Types Behaviour:

` and ` : If both arguments are True then only result is True 

` or ` : If atleast one arugemnt is True then result is True 

` not ` : Complement

In [57]:
print(True and False) #False 

print(True or False) #True 

print(not False )#True

False
True
True

### For non-boolean Types Behaviour:
0 means False

non-zero means True

empty string is always treated as False

`x and y`:

If x is evaluates to false return x otherwise return y  Eg:

`10 and 20`

`0 and 20`

If first argument is zero then result is zero otherwise result is y

`x or y`:

If x evaluates to True then result is x otherwise result is y

`10 or 20`  # 10

`0 or 20` #20

`not x`:

If x is evalutates to False then result is True otherwise False

not 10 #False 

not 0 #True

Eg:

In [58]:
print("rakesh" and "suresh") #==>suresh
print("" and "rakesh") #==>""
print("rakesh" and "") #==>""
print("" or "rakesh") #==>"durga"
print("rakesh" or "") #==>"durga"
print(not "") #==>True
print(not "rakesh") #==>False

suresh


rakesh
rakesh
True
False

## Bitwise Operators:

֍ We can apply these operators bitwise. 

֍ These operators are applicable only for int and boolean types.

֍ By mistake if we are trying to apply for any other type then we will get `Error`.

֍ &, |, ^, ~, <<, >>

In [59]:
print(4&5) #Valid

print(10.5 & 5.6)
# TypeError: unsupported operand type(s) for &: 'float' and 'float'

print(True & True) #Valid

4

TypeError: ignored

֍ ` & ` : If both bits are 1 then only result is 1 otherwise result is 0 

֍ ` | `: If atleast one bit is 1 then result is 1 otherwise result is 0

֍ ` ^ ` : If bits are different then only result is 1 otherwise result is 0

֍ ` ~ ` : bitwise complement operator

֍ ` << ` : Bitwise Left Shift

֍ ` >> ` : Bitwise Right Shift

In [60]:
print(4&5) #4

print(4|5) #5

print(4^5) #1

4
5
1

## Bitwise Complement Operator (~):

We have to apply complement for total bits.  Eg: print(~5)-6

Note:

֍ The most significant bit acts as sign bit. 0 value represents +ve number where as 1 represents -ve value.

֍ Positive numbers will be repesented directly in the memory where as -ve numbers will be represented indirectly in 2's complement form.

6)	Shift Operators:

` << ` Left Shift Operator

After shifting the empty cells we have to fill with zero 

`>>>print(10<<2) ` 

`#40`

`0	0	1	0	1	0	0	0`

` >> ` Right Shift Operator 

After shifting the empty cells we have to fill with sign bit.( 0 for +ve and 1 for -ve) 

`print(10>>2)`

`#2`



`0	0	0	0	0	0	1	0`

We can apply bitwise operators for boolean types also

In [61]:
print(True & False) #False
print(True | False) #True
print(True ^ False) #True
print(~True) #-2
print(True<<2) #4
print(True>>2) #0

False
True
True
-2
4
0

## Assignment Operators:

֍ We can use assignment operator to assign value to the variable.

Eg: `x = 10`

֍ We can combine asignment operator with some other operator to form compound assignment operator.

Eg: `x += 10 #x = x+10`

The following is the list of all possible compound assignment operators in Python.

	+=

	-=

	*=

	/=

	%=

	//=

	**=

	&=

	|=

	^=

	>>=

	<<=

In [1]:
x=10
x+=20
print(x) #30

x=10
x&=5
print(x) #0

30
0

## Ternary Operator OR Conditional Operator

Syntax: `x = firstValue if condition else secondValue`

If condition is True then firstValue will be considered else secondValue will be considered.

Eg 1:

In [2]:
a,b=10,20
x=30 if a<b else 40
print(x)	#30

#Eg 2: Read two numbers from the keyboard and print minimum value

a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
min=a if a<b else b
print("Minimum Value:",min)

30
Enter First Number:45
Enter Second Number:7
Minimum Value: 7

Note: Nesting of Ternary Operator is Possible.

In [3]:
#Q) Program for Minimum of 3 Numbers

a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

#Q) Program for Maximum of 3 Numbers

a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>c else c
print("Maximum Value:",max)

Enter First Number:45
Enter Second Number:56
Enter Third Number:67
Minimum Value: 45
Enter First Number:4
Enter Second Number:9
Enter Third Number:8
Maximum Value: 9

## Special Operators:

Python defines the following 2 special operators

1)	Identity Operators

2)	Membership operators

### 1)	Identity Operators
•	We can use identity operators for address comparison.
•	There are 2 identity operators are available
#### 1)	is
#### 2)	is not

•	r1 is r2  returns True if both r1 and r2 are pointing to the same object.

•	r1 is not r2 returns True if both r1 and r2 are not pointing to the same object.

Eg:

In [5]:
a=10
b=10
print(a is b)	#True
x=True
y=True	
print( x is y)	#True

True
True

In [6]:
a="jain"
b="jain"
print(id(a))
print(id(b))
print(a is b)

#Eg:

list1=["one","two","three"]
list2=["one","two","three"]
print(id(list1))
print(id(list2))
print(list1 is list2)  #False
print(list1 is not list2)  #True
print(list1 == list2)	#True

#Note: We can use is operator for address comparison where as == operator for content comparison.

140574343165168
140574343165168
True
140574343170960
140574343292240
False
True
True

2)Membership Operators:

•	We can use Membership operators to check whether the given object present in the given collection. (It may be String, List, Set, Tuple OR Dict)

` in ` : Returns True if the given object present in the specified Collection

` not in ` : Retruns True if the given object not present in the specified Collection

# Mathematical Functions (math Module)

֍ A Module is collection of functions, variables and classes etc.

֍ math is a module that contains several functions to perform mathematical operations.

֍ If we want to use any module in Python, first we have to import that module.  import math

֍ Once we import a module then we can call any function of that module.

In [7]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

֍ We can create alias name by using as keyword. import math as m
֍ Once we create alias name, by using that we can access functions and variables of that module.

In [8]:
import math as m
print(m.sqrt(16))
print(m.pi)

4.0
3.141592653589793


֍ We can import a particular member of a module explicitly as follows 

`from math import sqrt`

`from math import sqrt, pi`

֍ If we import a member explicitly then it is not required to use module name while accessing.

In [10]:
from math import sqrt, pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [11]:
x="hello learning Python is very easy!!!"
print('h' in x)	#True
print('d' in x)	#False
print('d' not in x)	#True
print('Python' in x)	#True


list1=["sunny","bunny","chinny","pinny"]
print("sunny" in list1) #True
print("tunny" in list1) #False
print("tunny" not in list1)  #True

True
False
True
True
True
False
True

### Important functions of math

ceil(x)

floor(x)

pow(x,y)

factorial(x)

trunc(x)

gcd(x,y)

sin(x)

cos(x)

tan(x)

# Write a Python Program to find Area of Circle	pi*r**2

In [12]:
from math import pi
r = 16
print("Area of Circle is :",pi*r**2)

Area of Circle is : 804.247719318987

# INPUT AND OUTPUT STATEMENTS

Reading Dynamic Input from the Keyboard:

In Python2 the following 2 functions are available to read dynamic input from the keyboard.

1)	raw_input()
2)	input()

1)raw_input():

This function always reads the data from the keyboard in the form of String Format. We have to convert that string type to our required type by using the corresponding type casting methods.

Eg:


2)input():

input() function can be used to read data directly in our required format.We are not required to perform type casting.

 

10 : int 
"durga" : str
10.5 : float 
True : bool

***Note:

•	But in Python 3 we have only input() method and raw_input() method is not available.

•	Python3 input() function behaviour exactly same as raw_input() method of Python2.

i.e every input value is treated as str type only.

•	raw_input() function of Python 2 is renamed as input() function in Python 3.

In [14]:
type(input("Enter value:"))
#Enter value:10
#<class 'str'>

#Enter value:10.5
#<class 'str'>

Enter value:12

str

# Q) Write a program to read 2 numbers from the keyboard and print sum

# Q) Write a Program to read Employee Data from the Keyboard and  print that Data

# How to read multiple values from the keyboard in a  single line:

In [15]:
a,b = [int(x) for x in input("Enter 2 numbers :").split()]
print("Product is :", a*b)

Enter 2 numbers :34 5
Product is : 170

# Write a program to read 3 float numbers from the keyboard  with, seperator and print their sum

# Output Statements:

## Form-1: `print() `

without any argument Just it prints new line character

## Form-2:

In [17]:
# print(String):
print("Hello World")

#We can use escape characters also
print("Hello \n World")
print("Hello\tWorld")

#We can use repetetion operator (*) in the string
print(10*"Hello")
print("Hello"*10)

#  We can use + operator also
print("Hello"+"World")

Hello World
Hello
 World
Hello	World
HelloHelloHelloHelloHelloHelloHelloHelloHelloHello
HelloHelloHelloHelloHelloHelloHelloHelloHelloHello
HelloWorld


Note:
֍ If both arguments are String type then ` + ` operator acts as `concatenation operator`.

֍ If one argument is string type and second is any other type like int then we will get Error.

֍ If both arguments are number type then + operator acts as arithmetic addition operator.

Note:

```python
print("Hello"+"World")`
print("Hello","World")
```
```console
HelloWorld 
Hello World
```

In [22]:

print("Hello"+"World")
print("Hello","World")

HelloWorld
Hello World

## Form-3: print() with variable number of arguments

```python
a,b,c=10,20,30
print(a,b,c,sep=',')
print(a,b,c,sep=':')
```
```console
The Values are : 10 20 30
```

By default output values are seperated by space. If we want we can specify seperator by using `sep` attribute



```console
D:\Python_classes>py test.py 10,20,30
10:20:30
```

In [23]:
a,b,c=10,20,30
print(a,b,c,sep=',')
print(a,b,c,sep=':')

10,20,30
10:20:30

## Form-4:print() with end attribute
```python
print("Hello")
print("Durga")
print("Soft")
```
```console
Hello Durga Soft
```
If we want output in the same line with space
```python
1)  print("Hello",end=' ')
2)	print("Durga",end=' ')
3)	print("Soft")
```
```console
Hello Durga Soft
```

Note: The default value for end attribute is \n, which is nothing but new line character.

In [24]:

print("Hello")
print("Rakesh")
print("Soft")

print("Hello",end=' ')
print("Rakesh",end=' ')
print("Soft")

Hello
Rakesh
Soft
Hello Rakesh Soft

## Form-5: print(object) statement

We can pass any object (like list, tuple, set etc) as argument to the print() statement.

```python
l=[10,20,30,40]
t=(10,20,30,40)
print(l)
print(t)
```

In [25]:
l=[10,20,30,40]
t=(10,20,30,40)
print(l)
print(t)

[10, 20, 30, 40]
(10, 20, 30, 40)

## Form-6: print(String, variable list)

We can use print() statement with String and any number of arguments.
```python
s  = "Durga"
a = 48
s1 ="Java"
s2 ="Python"
print("Hello",s,"Your Age is",a)
print("You are teaching",s1,"and",s2)
```
```console
Hello Durga Your Age is 48
You are teaching java and Python
```

In [27]:
s  = "Rakesh"
a = 48
s1 ="Java"
s2 ="Python"
print("Hello",s,"Your Age is",a)
print("You are teaching",s1,"and",s2)

Hello Rakesh Your Age is 48
You are teaching Java and Python

## Form-7: print (formatted string)
```console
1)	%i	#int
2)	%d  #int
3)	%f  #float
4)	%s  #String type
```
Syntax: `print("formatted string" %(variable list))`

In [20]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

Eg 1:
```python
1)  a=10
2)	b=20
3)	c=30
4)	print("a value is %i" %a)
5)	print("b value is %d and c value is %d" %(b,c))
```
```console
a value is 10
b value is 20 and c value is 30
```

In [28]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

Eg 2:
```python
s="Rakesh"
list=[10,20,30,40]
print("Hello %s ...The List of Items are %s" %(s,list))
```
```console
Hello Durga ...The List of Items are [10, 20, 30, 40]
```

In [29]:
s="Rakesh"
list=[10,20,30,40]
print("Hello %s ...The List of Items are %s" %(s,list))

Hello Rakesh ...The List of Items are [10, 20, 30, 40]

In [19]:
s="Reksh"
list=[10,20,30,40]
print("Hello %s ...The List of Items are %s" %(s,list))

Hello Reksh ...The List of Items are [10, 20, 30, 40]

## Form-8: print() with replacement operator {}  Eg:
```python
name = "Durga"
salary = 10000
gf = "Sunny"
print("Hello {0} your salary is {1} and Your Friend {2} is waiting".format(name,salary,gf))
print("Hello {x} your salary is {y} and Your Friend {z} is waiting".format(x=name,y=salary,z=gf))
```

```console
Hello Durga your salary is 10000 and Your Friend Sunny is waiting 
Hello Durga your salary is 10000 and Your Friend Sunny is waiting
```

In [30]:
name = "Durga"
salary = 10000
gf = "Sunny"
print("Hello {0} your salary is {1} and Your Friend {2} is waiting".format(name,salary,gf))
print("Hello {x} your salary is {y} and Your Friend {z} is waiting".format(x=name,y=salary,z=gf))

Hello Durga your salary is 10000 and Your Friend Sunny is waiting
Hello Durga your salary is 10000 and Your Friend Sunny is waiting

In [18]:
name = "Rakesh"
salary = 10000
gf = "Sunny"
print("Hello {0} your salary is {1} and Your Friend {2} is waiting".format(name,salary,gf))
print("Hello {x} your salary is {y} and Your Friend {z} is waiting".format(x=name,y=salary,z=gf))

Hello Rakesh your salary is 10000 and Your Friend Sunny is waiting
Hello Rakesh your salary is 10000 and Your Friend Sunny is waiting

# Conditional Statements

## 1. if statement

```python
if condition : 
  statement
``` 

OR

```python
if condition : 
	statement-1 
	statement-2 
	statement-3
```

If condition is true then statements will be executed.  Eg:

```python
name=input("Enter Name:")
if name=="durga" :
	print("Hello Durga Good Morning")
	print("How are you!!!")
```
```console
D:\Python_classes>py test.py Enter Name:durga
Hello Durga Good Morning How are you!!!
D:\Python_classes>py test.py Enter Name: Ravi
How are you!!!
```

In [33]:
name=input("Enter Name:")
if name=="rakesh" :
	print("Hello Rakesh Good Morning")
	print("How are you!!!")

Enter Name:rakesh
Hello Rakesh Good Morning
How are you!!!

## 2)	if-else statement

```python
if condition:
	Action-1 
else:
	Action-2
```

if condition is true then Action-1 will be executed otherwise Action-2 will be executed.

```python
name=input("Enter Name:")
if name=="durga" :
	print("Hello Durga Good Morning")
else:
	print("Hello Guest Good Moring")
	print("How are you!!!")
```
```console
D:\Python_classes>py test.py 
Enter Name:durga
Hello Durga Good Morning 
How are you!!!

D:\Python_classes>py test.py 
Enter Name:Ravi
Hello Guest Good Moring 
How are you!!!
```

In [34]:
name=input("Enter Name:")
if name=="rakesh" :
	print("Hello Rakesh Good Morning")
else:
	print("Hello Guest Good Moring")
	print("How are you!!!")

Enter Name:rakesh
Hello Rakesh Good Morning

## 3)	if-elif-else statement
```python
if condition1:
	Action-1
elif condition2:
	Action-2 
elif condition3:
	Action-3 
elif condition4:
	Action-4
	...
else:
	Default Action
```

Based condition the corresponding action will be executed.

```python
brand=input("Enter Your Favourite Brand:")
if brand=="RC" :
	print("It is childrens brand")
elif brand=="KF":
	print("It is not that much kick")
elif brand=="FO":
	print("Buy one get Free One")
else :
	print("Other Brands are not recommended")
```
```console
D:\Python_classes>py test.py 
Enter Your Favourite Brand:RC 
It is childrens brand

D:\Python_classes>py test.py 
Enter Your Favourite Brand:KF 
It is not that much kick

D:\Python_classes>py test.py
Enter Your Favourite Brand: KALYANI 
Other Brands are not recommended
```

In [35]:
brand=input("Enter Your Favourite Brand:")
if brand=="RC" :
	print("It is childrens brand")
elif brand=="KF":
	print("It is not that much kick")
elif brand=="FO":
	print("Buy one get Free One")
else :
	print("Other Brands are not recommended")

Enter Your Favourite Brand:RC
It is childrens brand

Note:

1)	else part is always optional. Hence the following are various possible syntaxes.

1)	If

2)	if – else

3)	if-elif-else

4)	if-elif

`Note`: There is no switch statement in Python

Q) Write a Program to find Biggest of given 2 Numbers from the  Commad Prompt?

```python
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1>n2:
	print("Biggest Number is:",n1)
else :
	print("Biggest Number is:",n2)
```

```console
D:\Python_classes>py test.py 
Enter First Number:10
Enter Second Number:20 
Biggest Number is: 20
```

In [36]:
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1>n2:
	print("Biggest Number is:",n1)
else :
	print("Biggest Number is:",n2)

Enter First Number:23
Enter Second Number:2
Biggest Number is: 23

Write a Program to find Biggest of given 3 Numbers from the  Commad Prompt?
```python
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
n3=int(input("Enter Third Number:"))
if n1>n2 and n1>n3:
	print("Biggest Number is:",n1)
elif n2>n3:
	print("Biggest Number is:",n2)
else :
	print("Biggest Number is:",n3)
```
```console
D:\Python_classes>py test.py 
Enter First Number:10
Enter Second Number:20 
Enter Third Number:30 
Biggest Number is: 30

D:\Python_classes>py test.py 
Enter First Number:10
Enter Second Number:30 
Enter Third Number:20 
Biggest Number is: 30
```2

In [38]:
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
n3=int(input("Enter Third Number:"))
if n1>n2 and n1>n3:
	print("Biggest Number is:",n1)
elif n2>n3:
	print("Biggest Number is:",n2)
else :
	print("Biggest Number is:",n3)

Enter First Number:23
Enter Second Number:3
Enter Third Number:234
Biggest Number is: 234

Q) Write a program to find smallest of given 2 numbers? 

Q) Write a program to find smallest of given 3 numbers?

Q) Write a program to check whether the given number is even or odd?

Q) Write a Program to Check whether the given Number is in  between 1 and 100?

```python
n=int(input("Enter Number:"))
if n>=1 and n<=10 :
	print("The number",n,"is in between 1 to 10")
else:
	print("The number",n,"is not in between 1 to 10")
```

Write a Program to take a Single Digit Number from the Key  Board and Print is Value in English Word?

In [39]:
n=int(input("Enter Number:"))
if n>=1 and n<=10 :
	print("The number",n,"is in between 1 to 10")
else:
	print("The number",n,"is not in between 1 to 10")

Enter Number:34
The number 34 is not in between 1 to 10

# Iterative Statements
֍ If we want to execute a group of statements multiple times then we should go for Iterative statements.

֍ Python supports 2 types of iterative statements.

1)	for loop

2)	while loop

## 1)	for loop:
If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.

Syntax: 
```python
for x in sequence:
	Body
```

Where sequence can be string or any collection.
Body will be executed for every element present in the sequence.

Eg 1: To print characters present in the given string
```python
s="Sunny Leone"
for x in s :
	print(x)
```
```console
S
u 
n 
n 
y

L
e 
o 
n 
e
```

In [40]:
s="Sunny Leone"
for x in s :
	print(x)

S
u
n
n
y

L
e
o
n
e

Eg 2: To print characters present in string index wise:
```python
s=input("Enter some String: ")
i=0
for x in s :
	print("The character present at ",i,"index is :",x)
	i=i+1
```
```console
D:\Python_classes>py test.py 
Enter some String: Sunny Leone

The character present at 0 index is : S 
The character present at 1 index is : u 
The character present at 2 index is : n 
The character present at 3 index is : n 
The character present at 4 index is : y 
The character present at 5 index is : 
The character present at 6 index is : L 
The character present at 7 index is : e 
The character present at 8 index is : o 
The character present at 9 index is : n 
The character present at 10 index is : e
```

In [41]:
s=input("Enter some String: ")
i=0
for x in s :
	print("The character present at ",i,"index is :",x)
	i=i+1

Enter some String: naveen
The character present at  0 index is : n
The character present at  1 index is : a
The character present at  2 index is : v
The character present at  3 index is : e
The character present at  4 index is : e
The character present at  5 index is : n

Eg 3: To print Hello 10 times


Eg 4: To display numbers from 0 to 10

Eg 5: To display odd numbers from 0 to 20
```python
for x in range(21) :
	if (x%2!=0):
		print(x)
```

In [42]:
for x in range(21) :
	if (x%2!=0):
		print(x)

1
3
5
7
9
11
13
15
17
19

Eg 6: To display numbers from 10 to 1 in descending order

Eg 7:  To print sum of numbers presenst inside list
```python
list = eval(input("Enter List:"))
sum=0;
for x in list:
sum=sum+x;
print("The Sum=",sum)
```
```console
D:\Python_classes>py test.py 
Enter List:[10,20,30,40]
The Sum= 100

D:\Python_classes>py test.py 
Enter List:[45,67]
The Sum= 112
```

In [44]:
list = eval(input("Enter List:"))
sum=0;
for x in list:
  sum=sum+x;
print("The Sum=",sum)

Enter List:[2,5,7,4]
The Sum= 18

## 2)	while loop:
If we want to execute a group of statements iteratively until some condition false,then we should go for while loop.

Syntax: 

```python
while condition :
	body
```
Eg: To print numbers from 1 to 10 by using while loop
```python
x = 1
while x <= 10:
	print(x)
	x = x+1
```

In [45]:
x = 1
while x <= 10:
	print(x)
	x = x+1

1
2
3
4
5
6
7
8
9
10

Eg: To display the sum of first n numbers
```python
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
sum=sum+i
i=i+1
print("The sum of first",n,"numbers is :",sum)
```

In [47]:
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first",n,"numbers is :",sum)

Enter number:12
The sum of first 12 numbers is : 78

Eg: Write a program to prompt user to enter some name until entering Durga
```python
name=""
while name!="durga":
name=input("Enter Name:")
print("Thanks for confirmation")
```

In [50]:
name=""
while name!="rakesh":
  name=input("Enter Name:")
print("Thanks for confirmation")

Enter Name:abc
Enter Name:nveen
Enter Name:naveen
Enter Name:rakesh
Thanks for confirmation

### Infinite Loops:
```python
i=0;
while True :
i=i+1;
print("Hello",i)
```

In [ ]:
i=0;
while True :
  i=i+1;
  print("Hello",i)

### Nested Loops:
Sometimes we can take a loop inside another loop,which are also known as nested loops.
```python
for i in range(4):
	for j in range(4):
		print("i=",i,"  j=",j)
```
```console
D:\Python_classes>py  test.py 
i= 0	j= 0
i= 0	j= 1
i= 0	j= 2
i= 0	j= 3
i= 1	j= 0
i= 1	j= 1
i= 1	j= 2
i= 1	j= 3
i= 2	j= 0
i= 2	j= 1
i= 2	j= 2
i= 2	j= 3
i= 3	j= 0
i= 3	j= 1
i= 3	j= 2
i= 3	j= 3
```

```console
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
```

In [52]:
for i in range(4):
	for j in range(4):
		print("i=",i,"  j=",j)

i= 0   j= 0
i= 0   j= 1
i= 0   j= 2
i= 0   j= 3
i= 1   j= 0
i= 1   j= 1
i= 1   j= 2
i= 1   j= 3
i= 2   j= 0
i= 2   j= 1
i= 2   j= 2
i= 2   j= 3
i= 3   j= 0
i= 3   j= 1
i= 3   j= 2
i= 3   j= 3

# Transfer Statements

## 1) break:
We can use break statement inside loops to break loop execution based on some condition.
```python
for i in range(10):
	if i==7:
		print("processing is enough..plz break")
		break
	print(i)
```
```console
D:\Python_classes>py test.py 
0
1
2
3
4
5
6
processing is enough..plz break  
```

In [53]:
for i in range(10):
	if i==7:
		print("processing is enough..plz break")
		break
	print(i)

0
1
2
3
4
5
6
processing is enough..plz break

Eg:

```python
cart=[10,20,600,60,70]
for item in cart:
	if item>500:
		print("To place this order insurence must be required")
		break
	print(item)
```
```console
D:\Python_classes>py test.py 
10
20
To place this order insurence must be required
```

In [54]:
cart=[10,20,600,60,70]
for item in cart:
	if item>500:
		print("To place this order insurence must be required")
		break
	print(item)

10
20
To place this order insurence must be required

## 2) continue:
We can use continue statement to skip current iteration and continue next iteration.

Eg 1: To print odd numbers in the range 0 to 9
```python
for i in range(10):
	if i%2==0:
		continue
	print(i)
```
```console
D:\Python_classes>py test.py 1
3
5
7
9
```

In [55]:
for i in range(10):
	if i%2==0:
		continue
	print(i)

1
3
5
7
9

Eg 2:
```python
cart=[10,20,500,700,50,60]
for item in cart:
	if item>=500:
		print("We cannot process this item :",item)
		continue
	print(item)
```
```console
D:\Python_classes>py test.py 
10
20
We cannot process this item : 500 
We cannot process this item : 700 
50
60
```

In [56]:
cart=[10,20,500,700,50,60]
for item in cart:
	if item>=500:
		print("We cannot process this item :",item)
		continue
	print(item)

10
20
We cannot process this item : 500
We cannot process this item : 700
50
60

Eg 3:
```python
numbers=[10,20,0,5,0,30]
for n in numbers:
	if n==0:
		print("Hey how we can divide with zero..just skipping")
		continue
	print("100/{} = {}".format(n,100/n))
```

```console
100/10 = 10.0
100/20 = 5.0
Hey how we can divide with zero..just skipping 100/5 = 20.0
Hey how we can divide with zero..just skipping 100/30 = 3.3333333333333335
```

In [57]:
numbers=[10,20,0,5,0,30]
for n in numbers:
	if n==0:
		print("Hey how we can divide with zero..just skipping")
		continue
	print("100/{} = {}".format(n,100/n))

100/10 = 10.0
100/20 = 5.0
Hey how we can divide with zero..just skipping
100/5 = 20.0
Hey how we can divide with zero..just skipping
100/30 = 3.3333333333333335

## Loops with else Block:
•	Inside loop execution, if break statement not executed, then only else part will be executed.

•	else means loop without break.
```python
cart=[10,20,30,40,50]
for item in cart:
	if item>=500:
		print("We cannot process this order")
		break
	print(item)
	else:
	print("Congrats ...all items processed successfully")
```
```console 	
10
20
30
40
50
Congrats ...all items processed successfully
```

In [59]:
cart=[10,20,30,40,50]
for item in cart:
	if item>=500:
		print("We cannot process this order")
		break
	print(item)
else:
	print("Congrats ...all items processed successfully")

10
20
30
40
50
Congrats ...all items processed successfully

Eg:
```python
cart=[10,20,600,30,40,50]
for item in cart:
	if item>=500:
		print("We cannot process this order")
		break
	print(item)
else:
	print("Congrats ...all items processed successfully")
```
```console
D:\Python_classes>py  test.py 
10
20
We cannot process this order
```

In [60]:
cart=[10,20,600,30,40,50]
for item in cart:
	if item>=500:
		print("We cannot process this order")
		break
	print(item)
else:
	print("Congrats ...all items processed successfully")

10
20
We cannot process this order

In [61]:
cart=[10,20,600,30,40,50]
for item in cart:
	if item>=500:
		print("We cannot process this order")
		break
	print(item)
else:
	print("Congrats ...all items processed successfully")

10
20
We cannot process this order

Q) What is the difference between for loop and while loop  in Python? 

֍ We can use loops to repeat code execution

֍ Repeat code for every item in sequence for loop

֍ Repeat code as long as condition is true while loop

Q) How to exit from the loop? By using break statement

Q)How to skip some iterations inside loop? By using continue statement.

Q)When else part will be executed wrt loops? If loop executed without break

## 3)	pass statement:
•	pass is a keyword in Python.

•	In our programming syntactically if block is required which won't do anything then we can define that empty block with pass keyword.

pass
|- It is an empty statement
|- It is null statement
|- It won't do anything

Eg: 
```python
if True:

```

```console
SyntaxError: unexpected EOF while parsing 
```
```python
if True: 
	pass #valid
```

```python
def m1():

```
```console
SyntaxError: unexpected EOF while parsing 
```
```python
def m1(): 
	pass

```

### Use Case of pass:

Sometimes in the parent class we have to declare a function with empty  body and child class responsible to provide proper implementation. 

Such type of empty body we can define by using pass keyword. (It is something like abstract method in Java)

Eg: def m1(): pass
```python
1)  for i in range(100):
2)	if i%9==0:
3)	print(i)
4)	else:pass
```
```console
D:\Python_classes>py test.py 0
9
18
27
36
45
54
63
72
81
90
99
```

In [62]:
for i in range(100):
  if i%9==0:
    print(i)
  else:
    pass

0
9
18
27
36
45
54
63
72
81
90
99

### del Statement:
•	del is a keyword in Python.

•	After using a variable, it is highly recommended to delete that variable if it is no longer required,so that the corresponding object is eligible for Garbage Collection.

•	We can delete variable by using del keyword.
```python
x = 10
print(x)
del x
```

In [64]:
x = 10
print(x)
del x

10

After deleting a variable we cannot access that variable otherwise we will get NameError.
```python
x = 10
del x
print(x)
```

```console
NameError: name 'x' is not defined.
```

In [65]:
x = 10
del x
print(x)

NameError: ignored

Note: We can delete variables which are pointed to immutable objects.

But we cannot delete the elements present inside immutable object.
```python
s = "rakesh"
print(s)
del s #valid
del s[0] 
#TypeError: 'str' object doesn't support item deletion
```

In [67]:
s = "rakesh"
print(s)
del s #valid
del s[0]

rakesh

NameError: ignored

## Difference between del and None:
In the case `del`, the variable will be removed and we cannot access that variable(unbind operation)
```python
s = "rakesh"
del s
print(s) #NameError: name 's' is not defined.
```

In [68]:
s = "rakesh"
del s
print(s)

NameError: ignored


But in the case of `None` assignment the variable won't be removed but the corresponding object is eligible for Garbage Collection (re bind operation). 

Hence after assigning with None value, we can access that variable.
```python
s = "rakesh"
s = None
print(s) #None
```

In [69]:
s = "rakesh"
s = None
print(s)

None

#2. Introduction to OOP principles command line arguments
## Class, object, methods,

## Access specifiers –public ,private Constructors, Difference between Methods and constructors,

## Method overloading
## Inheritance and its types 
## Inheritance – Super classes- sub classes –Protected members
## Polymorphism: Static Polymorphism , Dynamic Polymorphism (Overriding),

## Object as argument and return value



## Nested classes
## Interfaces – defining an interface, implementing interface,
## Differences between classes and interfaces
## Extending interfaces

# Exceptions – exception hierarchy 

## Raising exceptions

## Built-in exceptions

## Creating own exceptions

#3. Introduction To files: 
## Create, Read Write, 

## Append, Delete from file

#4. Packages

## Importing packages

# Multithreading introduction

## Different Thread objects.

## Difference Between Multithreading vs Multiprocessing in Python