<a href="https://colab.research.google.com/github/navbharti/programming/blob/master/python/Set_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1 = set()
print("s1: ", s1)
print("Datatype of s1: ",type(s1))
#Output: set()

s1:  set()
Datatype of s1:  <class 'set'>

In [ ]:

#Creating Empty Set using curly braces is not possible
s2 = {}
print("s2: ", s2)
print("Datatype of s2: ", type(s2))

s2:  {}
Datatype of s2:  <class 'dict'>

In [ ]:

#Creating Set with one element
s3 = {10}
print("s3: ", s3)
print("Datatype of s3: ", type(s3))

s3:  {10}
Datatype of s3:  <class 'set'>

In [ ]:

#Creating Set with multiple elements
s4 = {10, 20, 30, 40}
print("s4: ", s4)
print("Datatype of s4: ", type(s4))

s4:  {40, 10, 20, 30}
Datatype of s4:  <class 'set'>

In [ ]:
#Creating Set with Heterogeneous Datatype
s5 = {12, "one", 2.5, True, 3+5j}
print("s5: ", s5)
print("Datatype of s5: ", type(s5))

s5:  {True, 2.5, 12, (3+5j), 'one'}
Datatype of s5:  <class 'set'>

In [ ]:
#Creating Set with Duplicate Elements
s6 = {10, 10, 4, 10, 4, 3, 2, 10}
print("s6: ", s6)
print("Datatype of s6: ", type(s6))

s6:  {2, 10, 3, 4}
Datatype of s6:  <class 'set'>