<a href="https://colab.research.google.com/github/navbharti/programming/blob/master/python/String_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to String in Python

## What is String in Python

String is a `collection` of `alphabets`, `words` or `other characters`.<br>
It is a `primitive data structures` and are the building blocks for data manipulation. <br>
Python has a `built-in string class` named `str`. <br>
Python strings are `immutable` which means they cannot be changed after they are created.<br>

Textual data is handled in Python using the `str` object.<br>

`immutable sequences of unicode`. <br>`Unicode` is a system designed to represent all characters from languages. 
<br>In unicode, each letter, character is represented as a `4-byte number`. Each number represents a unique character.

String is wrapped it within quotes:
* Single quotes
* Example: `'Single quote allow "double".'`
* Double quotes
* Example: `"Double quote allow  'single' ."`
* Triple quotes: multiple line strings
* Example1 : `"""Triple 
quotes allows to embed 
"double quotes" as well 
as 'single quotes' in your string. 
And can also span across
 multiple lines."""`

 Example2 : `'''Triple 
quotes allows to embed 
"double quotes" as well 
as 'single quotes' in your string. 
And can also span across
 multiple lines.'''`

### Encoding and Decoding: For example ASCII and Unicode:
Process fo converting character to binary representation of string is Encoding, and the process of converting a binary representation of string back to character representation.

* Generally each character takes 1 Byte of memory to store in ASCII form.
* ASCII form of encoding is not enough to represent all the character from different languages througout the world.
* New encoding is introduced whicha is used to represent all the symbols of all the langauge so far. This is called Unicode character.
* ‘e’, but no ‘é’ or ‘Í’

* ‘naïve’ and ‘café’

* ‘coöperate’

* messages should contain accents (completé, caractère, accepté)

* Unicode started out using 16-bit characters instead of 8-bit characters. 16 bits means you have 2^16 = 65,536 distinct values available, making it possible to represent many different characters from many different alphabets;

In [47]:
s1 = "klu"
print(s1)
print(type(s1))
#s1[2] = 'l'

klu
<class 'str'>

## Creating string in Python

In [48]:
single_quote = 'Single quote allow "double".'
double_quote = "Double quote allow  'single' ."
triple_quote = """Triple 
quotes allows to embed 
"double quotes" as well 
as 'single quotes' in your string. 
And can also span across
 multiple lines."""

print("str1: ", single_quote)
print("str2: ", double_quote)
print("str3: ", triple_quote)

str1:  Single quote allow "double".
str2:  Double quote allow  'single' .
str3:  Triple
quotes allows to embed
"double quotes" as well
as 'single quotes' in your string.
And can also span across
 multiple lines.

Since string is immutalbe, trying to change a string will give Error.

In [49]:
triple_quote = '''This is triple quoted string using "single" quotes.'''
triple_quote[35] = "'"
#gives TypeError

TypeError: ignored

## Access characters in a string using index

In [50]:
s1 = "Welcome to KL University"
print(s1[8])

t

## String Slicing in Python using slicing
### `[Start index (included): Stop index (excluded)]`

In [51]:
print(s1[11:13:1])
s2 = s1[11:13:1]
print("s2: ", s2)

KL
s2:  KL

#### Access string elements through for looping

In [52]:
s1 = "Welcome to KL University"
for ch in s1:
  print(ch)

W
e
l
c
o
m
e

t
o

K
L

U
n
i
v
e
r
s
i
t
y

## Getting Length of a String using built-in len() method

In [53]:
length = len(triple_quote)
print("Length of String: ", length)

Length of String:  51

## Change or delete a string?

In [54]:
print(s1)
del s1
print(s1)
#Give NameError

Welcome to KL University

NameError: ignored

### Concatenation of Two or More Strings

In [55]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
strconcat = str1 + str2
print('concatenated = ', strconcat)

# using *
print('str1 * 3 =', str1 * 3)

concatenated =  HelloWorld!
str1 * 3 = HelloHelloHello

### Iterating Through a string

In [56]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

### String Membership Test

In [57]:
print('a' in 'program')

print('at' not in 'battle')

True
False

## Must Know String Functions

<table class="tg"><tbody><tr><th class="tg-s268">Function</th><th class="tg-s268">Description</th></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23487/python-string-format">format()</a></td><td class="tg-md4w">It’s used to create a formatted string from the template string and the supplied values.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23462/python-string-split">split()</a></td><td class="tg-s268">Python string split() function is used to split a string into the list of strings based on a delimiter.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23571/python-string-join">join()</a></td><td class="tg-md4w">This function returns a new string that is the concatenation of the strings in iterable with string object as a delimiter.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23625/python-trim-string-rstrip-lstrip-strip">strip()</a></td><td class="tg-s268">Used to trim whitespaces from the string object.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24010/python-string-format_map">format_map()</a></td><td class="tg-md4w">Python string format_map() function returns a formatted version of the string using substitutions from the mapping provided.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23427/python-string-to-uppercase-str-upper">upper()</a></td><td class="tg-s268">We can convert a string to uppercase in Python using str.upper() function.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23431/python-string-to-lowercase-str-lower">lower()</a></td><td class="tg-md4w">This function creates a new string in lowercase.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23470/python-string-replace">replace()</a></td><td class="tg-s268">Python string replace() function is used to create a new string by replacing some parts of another string.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23666/python-string-find">find()</a></td><td class="tg-md4w">Python String find() method is used to find the index of a substring in a string.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23697/python-string-translate">translate()</a></td><td class="tg-s268">Python String translate() function returns a new string with each character in the string replaced using the given translation table.</td></tr></tbody></table>

### String Formatting
Python supports multiple ways to format a string.

`% Formatting`: `interpolation operator`, provide % followed by the datatype that needs to be formatted or converted. The % operation then substitutes the '%datatype' phrase with zero or more elements of the specified data type:


* The formatter class
* Template Strings
* Formatted String Literal (f-string)

#### `template.format(p0, p1, ..., k0=v0, k1=v1, ...)`

#### For keyword arguments
#### Basic formatting for default, positional and keyword arguments

In [58]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

<div class="table-responsive"><table summary="Number Formatting Types" border="0"><caption>Number Formatting Types</caption>
	<thead><tr><th scope="col">Type</th>
			<th scope="col">Meaning</th>
		</tr></thead><tbody><tr><td>d</td>
			<td>Decimal integer</td>
		</tr><tr><td>c</td>
			<td>Corresponding Unicode character</td>
		</tr><tr><td>b</td>
			<td>Binary format</td>
		</tr><tr><td>o</td>
			<td>Octal format</td>
		</tr><tr><td>x</td>
			<td>Hexadecimal format (lower case)</td>
		</tr><tr><td>X</td>
			<td>Hexadecimal format (upper case)</td>
		</tr><tr><td>n</td>
			<td>Same as 'd'. Except it uses current locale setting for number separator</td>
		</tr><tr><td>e</td>
			<td>Exponential notation. (lowercase e)</td>
		</tr><tr><td>E</td>
			<td>Exponential notation (uppercase E)</td>
		</tr><tr><td>f</td>
			<td>Displays fixed point number (Default: 6)</td>
		</tr><tr><td>F</td>
			<td>Same as 'f'. Except displays 'inf' as 'INF' and 'nan' as 'NAN'</td>
		</tr><tr><td>g</td>
			<td>General format. Rounds number to p significant digits. (Default precision: 6)</td>
		</tr><tr><td>G</td>
			<td>Same as 'g'. Except switches to 'E' if the number is large.</td>
		</tr><tr><td>%</td>
			<td>Percentage. Multiples by 100 and puts % at the end.</td>
		</tr></tbody></table></div>

#### Simple number formatting

In [59]:
# integer arguments
print("The number is:{:d}".format(123))

# float arguments
print("The float number is:{:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is:123
The float number is:123.456790
bin: 1100, oct: 14, hex: c

####  Number formatting with padding for int and floats

In [60]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:2d}".format(1234))

# padding for float numbers
print("{:8.3f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.3f}".format(12.2346))

   12
1234
  12.235
00012
0012.235

#### Number formatting for signed numbers

In [61]:
# show the + sign
print("{:+f} {:+f}".format(12.23, -12.23))

# show the - sign only
print("{:-f} {:-f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

+12.230000 -12.230000
12.230000 -12.230000
 12.230000 -12.230000

#### Number formatting with alignment

<div class="table-responsive"><table summary="Number formatting with alignment" border="0"><caption>Number formatting with alignment</caption>
	<thead><tr><th scope="col">Type</th>
			<th scope="col">Meaning</th>
		</tr></thead><tbody><tr><td>&lt;</td>
			<td>Left aligned to the remaining space</td>
		</tr><tr><td>^</td>
			<td>Center aligned to the remaining space</td>
		</tr><tr><td>&gt;</td>
			<td>Right aligned to the remaining space</td>
		</tr><tr><td>=</td>
			<td>Forces the signed (+) (-) to the leftmost position</td>
		</tr></tbody></table></div>

#### Number formatting with left, right and center alignment

In [62]:
# integer numbers with right alignment
print("{:5d}".format(12))

# float numbers with center alignment
print("{:^10.3f}".format(12.2346))

# integer left alignment filled with zeros
print("{:<05d}".format(12))

# float numbers with center alignment
print("{:=8.3f}".format(-12.2346))

   12
  12.235
12000
- 12.235

#### String formatting with padding and alignment

In [63]:
# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^5}".format("cat"))

cat
  cat
 cat
*cat*

#### Truncating strings with format()

In [64]:
# truncating strings to 3 letters
print("{:.3}".format("caterpillar"))

# truncating strings to 3 letters
# and padding
print("{:5.3}".format("caterpillar"))

# truncating strings to 3 letters,
# padding and center alignment
print("{:^5.3}".format("caterpillar"))

cat
cat
 cat

#### Formatting dictionary members using format()

In [65]:
# define Person dictionary
person = {'age': 23, 'name': 'Adam'}

# format age
print("{p[name]}'s age is: {p[age]}".format(p=person))

Adam's age is: 23

In [66]:
# define Person dictionary
person = {'age': 23, 'name': 'Adam'}

# format age
print("{name}'s age is: {age}".format(**person))

Adam's age is: 23

#### Dynamic formatting using format()

In [67]:
# dynamic string format template
string = "{:{fill}{align}{width}}"

# passing format codes as arguments
print(string.format('cat', fill='*', align='^', width=5))

# dynamic float format template
num = "{:{align}{width}.{precision}f}"

# passing format codes as arguments
print(num.format(123.236, align='<', width=8, precision=2))

*cat*
123.24

In [68]:
print("I bought %d Euro worth of %s!" %(200, 'cookies'))

I bought 200 Euro worth of cookies!

In [69]:
print("I bought {0} Euro worth of {1}!".format(200,'cookies')) #Accessing values by position

I bought 200 Euro worth of cookies!

In [70]:
print("I bought {total} Euro worth of {item}!".format(total = 200, item = 'cookies')) #Accessing values by name

I bought 200 Euro worth of cookies!

In [71]:
'{:#<10}'.format('Cake') #Left aligment for word 'Cake' according to right alignment, gaps filled with '#'

'Cake######'

In [72]:
'{:#^10}'.format('Cake') #Centre aligment for word 'Cake' according to right alignment, gaps filled with '#'

'###Cake###'

In [73]:
'{:#>10}'.format('Cake') #Right aligment for word 'Cake' according to right alignment, gaps filled with '#'

'######Cake'

In [74]:
for num in range(1,10): 
        print('{0:{width}}'.format(num, width=5), end=' ')

    1     2     3     4     5     6     7     8     9

In [75]:
from string import Template #First you will need to import 'Tempalte' class

money = dict(who = 'You', to_whom = 'baker')
Template('$who owe the $to_whom a total of $$100').substitute(money)

'You owe the baker a total of $100'

In [76]:
word = dict(noun = 'feed')
Template('Please don\'t stop ${noun}ing me').substitute(word)

"Please don't stop feeding me"

In [77]:
fact = Template('$alter_ego is weak but wait till he transforms to $superhero!')
fact.substitute(alter_ego='Bruce Banner', superhero='Hulk')

'Bruce Banner is weak but wait till he transforms to Hulk!'

### `str.format_map(mapping)`

similar to str.format(**mapping) except that str.format(**mapping) creates a new dictionary whereas str.format_map(mapping) doesn't.

In [84]:
point = {'x':4,'y':-5}
print('{x} {y}'.format(**point))

4 -5

In [85]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

### Syntax: `str.split(separator, maxsplit)`
returns a list of strings.

#### Example

In [86]:
text = 'Python is a fun programming language'

# split the text from space
print(text.split(' '))

# Output: ['Python', 'is', 'a', 'fun', 'programming', 'language']

['Python', 'is', 'a', 'fun', 'programming', 'language']

### split() without delimeter and with delimeter

In [87]:
text= 'Love thy neighbor'

# splits at space
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.split(', '))

# Splits at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

### split() with maxsplit argument

In [88]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))

# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))

# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

### Syntax: `str.rsplit([separator [, maxsplit]])`

splits string from the right at the specified separator and returns a list of strings.

### rsplit() without delimeter and with delimeter

In [89]:
text= 'Love thy neighbor'

# splits at space
print(text.rsplit())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.rsplit(', '))

# Splitting at ':'
print(grocery.rsplit(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

### rsplit() with maxsplit argument

In [90]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.rsplit(', ', 2))

# maxsplit: 1
print(grocery.rsplit(', ', 1))

# maxsplit: 5
print(grocery.rsplit(', ', 5))

# maxsplit: 0
print(grocery.rsplit(', ', 0))

['Milk, Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread', 'Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

### Syntax: `str.splitlines([keepends])`

splits the string at line breaks and returns a list of lines in the string.

Note: the splitlines() takes the following as seperators:

<table border="0"><thead><tr><th><strong>Representation</strong></th>
			<th><strong>Description</strong></th>
		</tr></thead><tbody valign="top"><tr><td><strong>\n</strong></td>
			<td>Line Feed</td>
		</tr><tr><td><strong>\r</strong></td>
			<td>Carriage Return</td>
		</tr><tr><td><strong>\r\n</strong></td>
			<td>Carriage Return + Line Feed</td>
		</tr><tr><td><strong>\v</strong>&nbsp;or <strong>\x0b</strong></td>
			<td>Line Tabulation</td>
		</tr><tr><td><strong>\f</strong>&nbsp;or <strong>\x0c</strong></td>
			<td>Form Feed</td>
		</tr><tr><td><strong>\x1c</strong></td>
			<td>File Separator</td>
		</tr><tr><td><strong>\x1d</strong></td>
			<td>Group Separator</td>
		</tr><tr><td><strong>\x1e</strong></td>
			<td>Record Separator</td>
		</tr><tr><td><strong>\x85</strong></td>
			<td>Next Line (C1 Control Code)</td>
		</tr><tr><td><strong>\u2028</strong></td>
			<td>Line Separator</td>
		</tr><tr><td><strong>\u2029</strong></td>
			<td>Paragraph Separator</td>
		</tr></tbody></table>

In [91]:
grocery = 'Milk\nChicken\r\nBread\rButter'

print(grocery.splitlines())
print(grocery.splitlines(True))

grocery = 'Milk Chicken Bread Butter'
print(grocery.splitlines())

['Milk', 'Chicken', 'Bread', 'Butter']
['Milk\n', 'Chicken\r\n', 'Bread\r', 'Butter']
['Milk Chicken Bread Butter']

### `string.join(iterable)`

returns a string by joining all the elements of an iterable (list, string, tuple), separated by a string separator.

In [92]:
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
print(' '.join(text))

# Output: Python is a fun programming language

Python is a fun programming language

In [93]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))

# .join() with tuples
numTuple = ('1', '2', '3', '4')
print(separator.join(numTuple))

s1 = 'abc'
s2 = '123'

# each element of s2 is separated by s1
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))

# each element of s1 is separated by s2
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

1, 2, 3, 4
1, 2, 3, 4
s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c

### join() with set

In [94]:
# .join() with sets
test = {'2', '1', '3'}
s = ', '
print(s.join(test))

test = {'Python', 'Java', 'Ruby'}
s = '->->'
print(s.join(test))

1, 2, 3
Java->->Python->->Ruby

### join() with Dictionary

In [95]:
# .join() with dictionaries
test = {'mat': 1, 'that': 2}
s = '->'

# joins the keys only
print(s.join(test))

test = {1: 'mat', 2: 'that'}
s = ', '

# this gives error since key isn't string
print(s.join(test))

mat->that

TypeError: ignored

`Note`: The join() method tries to join the keys (not values) of the dictionary with the string separator.

### `string.strip([chars])`

returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

In [96]:
message = '     Learn Python  '

# remove leading and trailing whitespaces
print('Message:', message.strip())

# Output: Message: Learn Python

Message: Learn Python

`Note`: strip() can also be used to remore preceding and trailing given set of chars.

In [97]:
string = '  xoxo love xoxo   '

# Leading and trailing whitespaces are removed
print(string.strip())

# All <whitespace>,x,o,e characters in the left
# and right of string are removed
print(string.strip(' xoe'))

# Argument doesn't contain space
# No characters are removed.
print(string.strip('stx'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
  xoxo love xoxo
droid is awesome

### `string.lstrip([chars])`

returns a copy of the string with leading characters removed (based on the string argument passed).

In [98]:
random_string = '   this is good '

# Leading whitepsace are removed
print(random_string.lstrip())

# Argument doesn't contain space
# No characters are removed.
print(random_string.lstrip('sti'))

print(random_string.lstrip('s ti'))

website = 'https://www.programiz.com/'
print(website.lstrip('htps:/.'))

this is good
   this is good
his is good
www.programiz.com/

### `string.rstrip([chars])`

returns a copy of the string with trailing characters removed (based on the string argument passed).

In [100]:
random_string = 'this is good    '

# Trailing whitespace are removed
print(random_string.rstrip())

# 'si oo' are not trailing characters so nothing is removed
print(random_string.rstrip('si oo'))

# in 'sid oo', 'd oo' are the trailing characters, 'ood' is removed from the string
print(random_string.rstrip('sid oo')) website = 'https://www.kluniversity.in/' 

print(website.rstrip('m/.'))

SyntaxError: ignored

### `string.upper()`

converts all lowercase characters in a string into uppercase characters and returns it.

In [101]:
message = 'python is fun'

# convert message to uppercase
print(message.upper())

# Output: PYTHON IS FUN

PYTHON IS FUN

In [102]:
# example string
string = "this should be uppercase!"
print(string.upper())

# string with numbers
# all alphabets should be lowercase
string = "Th!s Sh0uLd B3 uPp3rCas3!"
print(string.upper())

THIS SHOULD BE UPPERCASE!
TH!S SH0ULD B3 UPP3RCAS3!

In [103]:
# first string
firstString = "python is awesome!"

# second string
secondString = "PyThOn Is AwEsOmE!"

if(firstString.upper() == secondString.upper()):
    print("The strings are same.")
else:
    print("The strings are not same.")

The strings are same.

### `string.lower()`

converts all uppercase characters in a string into lowercase characters and returns it.

In [104]:
message = 'PYTHON IS FUN'

# convert message to lowercase
print(message.lower())

# Output: python is fun

python is fun

In [105]:
# example string
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())

# string with numbers
# all alphabets should be lowercase
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

In [106]:
# first string
firstString = "PYTHON IS AWESOME!"

# second string
secondString = "PyThOn Is AwEsOmE!"

if(firstString.lower() == secondString.lower()):
    print("The strings are same.")
else:
    print("The strings are not same.")

The strings are same.

### `string.swapcase()`

converts all uppercase characters to lowercase and all lowercase characters to uppercase characters of the given string, and returns it.

In [107]:
# example string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

### `str.replace(old, new [, count]) `

replaces each matching occurrence of the old character/text in the string with the new character/text.

In [108]:
text = 'bat ball'

# replace b with c
replaced_text = text.replace('b', 'c')
print(replaced_text)

# Output: cat call

cat call

In [109]:
song = 'cold, cold heart'

# replacing 'cold' with 'hurt'
print(song.replace('cold', 'hurt'))

song = 'Let it be, let it be, let it be, let it be'

# replacing only two occurences of 'let'
print(song.replace('let', "don't let", 2))

hurt, hurt heart
Let it be, don't let it be, don't let it be, let it be

In [110]:
song = 'cold, cold heart'
replaced_song = song.replace('o', 'e')

# The original string is unchanged
print('Original string:', song)

print('Replaced string:', replaced_song)

song = 'let it be, let it be, let it be'

# maximum of 0 substring is replaced
# returns copy of the original string
print(song.replace('let', 'so', 0))

Original string: cold, cold heart
Replaced string: celd, celd heart
let it be, let it be, let it be

### `str.find(sub[, start[, end]] )`

returns the index of first occurrence of the substring (if found). If not found, it returns -1.

In [111]:
message = 'Python is a fun programming language'

# check the index of 'fun'
print(message.find('fun'))

# Output: 12

12

#### find() without start and end arguments

In [112]:
quote = 'Let it be, let it be, let it be'

# first occurance of 'let it'(case sensitive)
result = quote.find('let it')
print("Substring 'let it':", result)

# find returns -1 if substring not found
result = quote.find('small')
print("Substring 'small ':", result)

# How to use find()
if (quote.find('be,') != -1):
    print("Contains substring 'be,'")
else:
    print("Doesn't contain substring")

Substring 'let it': 11
Substring 'small ': -1
Contains substring 'be,'

#### find() with start and end arguments

In [113]:
str1 = 'I got cook you a cookie and I cookhave another cook some more text'
str2 = 'cook'
result = str1.find(str2, 30, 50)
if result != -1:
  print(str2, "is found at ", result)
else:
  print(str2, "not found")

cook is found at  30

In [114]:
quote = 'Do small things with great love'

# Substring is searched in 'hings with great love'
print(quote.find('small things', 10))

# Substring is searched in ' small things with great love' 
print(quote.find('small things', 2))

# Substring is searched in 'hings with great lov'
print(quote.find('o small ', 10, -1))

# Substring is searched in 'll things with'
print(quote.find('things ', 6, 20))

-1
3
-1
9

### `str.rfind(sub[, start[, end]] )`

returns the highest index of the substring (if found). If not found, it returns -1.

#### rfind() without start and end arguments

In [115]:
quote = 'Let it be, let it be, let it be'

result = quote.rfind('let it')
print("Substring 'let it':", result)

result = quote.rfind('small')
print("Substring 'small ':", result)

result = quote.rfind('be,')
if  (result != -1):
  print("Highest index where 'be,' occurs:", result)
else:
  print("Doesn't contain substring")

Substring 'let it': 22
Substring 'small ': -1
Highest index where 'be,' occurs: 18

#### rfind() with start and end argument

In [116]:
quote = 'Do small things with great love'

# Substring is searched in 'hings with great love'
print(quote.rfind('things', 10))

# Substring is searched in ' small things with great love' 
print(quote.rfind('t', 2))

# Substring is searched in 'hings with great lov'
print(quote.rfind('o small ', 10, -1))

# Substring is searched in 'll things with'
print(quote.rfind('th', 6, 20))

-1
25
-1
18

## Good to Know String Functions

<table class="tg"><tbody><tr><th class="tg-s268">Function</th><th class="tg-s268">Description</th></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23617/python-string-encode-decode">encode()</a></td><td class="tg-md4w">Python string encode() function is used to encode the string using the provided encoding.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23754/python-string-count">count()</a></td><td class="tg-s268">Python String count() function returns the number of occurrences of a substring in the given string.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23821/python-string-startswith">startswith()</a></td><td class="tg-md4w">Python string startswith() function returns True if the string starts with the given prefix, otherwise it returns False.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23839/python-string-endswith">endswith()</a></td><td class="tg-s268">Python string endswith() function returns True if the string ends with the given suffix, otherwise it returns False.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23872/python-string-capitalize">capitalize()</a></td><td class="tg-md4w">Python String capitalize() function returns the capitalized version of the string.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23919/python-string-center">center()</a></td><td class="tg-s268">Python string center() function returns a centered string of specified size.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23928/python-string-casefold">casefold()</a></td><td class="tg-md4w">Python string casefold() function returns a casefolded copy of the string. This function is used to perform case-insensitive string comparison.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23978/python-string-expandtabs">expandtabs()</a></td><td class="tg-s268">Python string expandtabs() function returns a new string with tab characters (\t) replaced with one or more whitespaces.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23992/python-string-index">index()</a></td><td class="tg-md4w">Python String index() function returns the lowest index where the specified substring is found.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23451/python-string-contains">__contains__()</a></td><td class="tg-s268">Python String class has __contains__() function that we can use to check if it contains another string or not. We can also use “in” operator to perform this check.</td></tr></tbody></table>

### `string.encode(encoding='UTF-8',errors='strict')`

returns an encoded version of the given string.

<ul><li><strong>encoding</strong> - the encoding type a string has to be encoded to</li>
	<li><strong>errors</strong> - response when encoding fails. There are six types of error response
		<ul type="circle"><li>strict - default response which raises a UnicodeDecodeError exception on failure</li>
			<li>ignore - ignores the unencodable unicode from the result</li>
			<li>replace - replaces the unencodable unicode to a question mark <strong>?</strong></li>
			<li>xmlcharrefreplace - inserts XML character reference instead of unencodable unicode</li>
			<li>backslashreplace - inserts a \uNNNN escape sequence instead of unencodable unicode</li>
			<li>namereplace - inserts a \N{...} escape sequence instead of unencodable unicode</li>
		</ul></li>
		</ul>

#### Encode to Default Utf-8 Encoding

In [117]:
title = 'Python Programming'

# change encoding to utf-8
print(title.encode())

# Output: b'Python Programming'

b'Python Programming'

In [118]:
# unicode string
string = 'pythön!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

The string is: pythön!
The encoded version is: b'pyth\xc3\xb6n!'

#### Encode with Error parameter

In [119]:
# unicode string
string = 'pythön!'

# print string
print('The string is:', string)

# ignore error
print('The encoded version (with ignore) is:', string.encode("ascii", "ignore"))

# replace error
print('The encoded version (with replace) is:', string.encode("ascii", "replace"))

The string is: pythön!
The encoded version (with ignore) is: b'pythn!'
The encoded version (with replace) is: b'pyth?n!'

#### String Encoding
* Since Python 3.0, strings are stored as ***Unicode***, i.e. each character in the string is represented by a code point. So, each string is just a sequence of Unicode code points.

* For efficient storage of these strings, the sequence of code points is converted into a set of bytes. The process is known as encoding.

* There are various encodings present which treat a string differently. The popular encodings being `utf-8`, `ascii`, etc.

*italicized text*### `string.count(substring, start=..., end=...)`: 

counts how many times a substring occurs in the string.

#### Count number of occurrences of a given char or substring

In [120]:
message = 'python is popular programming language'

# number of occurrence of 'p'
print('Number of occurrence of p:', message.count('p'))

# Output: Number of occurrence of p: 4

Number of occurrence of p: 4

In [121]:
# define string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2

#### Count number of occurrences of a given substring using start and end

In [122]:
# define string
string = "Python is awesome, isn't it?"
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)

# print count
print("The count is:", count)

The count is: 1

In [123]:
str1 = 'I got you a cookie, do you like cookies?'
str2 = 'cookie'
str1.count(str2)

2

In [124]:
str1.count('cook')

2

### `str.startswith(prefix[, start[, end]])`

returns True if a string starts with the specified prefix(string). If not, it returns False.

### Syntax: `str.startswith(prefix[, start[, end]])`

returns True if a string starts with the specified prefix(string). If not, it returns False.


### startswtith() without start and end parameters

In [125]:
text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)

False
True
True

In [126]:
message = 'Python is fun'

# check if the message starts with Python
print(message.startswith('Python'))

# Output: True

True

In [127]:
text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)

False
True
True

In [128]:
text = "Python programming is easy."

# start parameter: 7
# 'programming is easy.' string is searched
result = text.startswith('programming is', 7)
print(result)

# start: 7, end: 18
# 'programming' string is searched
result = text.startswith('programming is', 7, 18)
print(result)

result = text.startswith('program', 7, 18)
print(result)

True
False
True

#### startswith() With Tuple Prefix

In [129]:
text = "programming is easy"
result = text.startswith(('python', 'programming'))

# prints True
print(result)

result = text.startswith(('is', 'easy', 'java'))

# prints False
print(result)

# With start and end parameter
# 'is easy' string is checked
result = text.startswith(('programming', 'easy'), 12, 19)

# prints False
print(result)

True
False
False

### startswith with start and end argument

In [130]:
text = "Python programming is easy."

# start parameter: 7
# 'programming is easy.' string is searched
result = text.startswith('programming is', 7)
print(result)

# start: 7, end: 18
# 'programming' string is searched
result = text.startswith('programming is', 7, 18)
print(result)

result = text.startswith('program', 7, 18)
print(result)

True
False
True

### ``

### startswith() With Tuple Prefix

In [131]:
text = "programming is easy"
result = text.startswith(('python', 'programming'))

# prints True
print(result)

result = text.startswith(('is', 'easy', 'java'))

# prints False
print(result)

# With start and end parameter
# 'is easy' string is checked
result = text.startswith(('programming', 'easy'), 12, 19)

# prints False
print(result)

True
False
False

### `str.endswith(suffix[, start[, end]])`

returns True if a string ends with the specified suffix. If not, it returns False.

In [132]:
message = 'Python is fun'

# check if the message ends with fun
print(message.endswith('fun'))

# Output: True

True

In [133]:
text = "Python is easy to learn."

result = text.endswith('to learn')
# returns False
print(result)

result = text.endswith('to learn.')
# returns True
print(result)

result = text.endswith('Python is easy to learn.')
# returns True
print(result)

False
True
True

In [134]:
text = "Python programming is easy to learn."

# start parameter: 7
# "programming is easy to learn." string is searched
result = text.endswith('learn.', 7)
print(result)

# Both start and end is provided
# start: 7, end: 26
# "programming is easy" string is searched

result = text.endswith('is', 7, 26)
# Returns False
print(result)

result = text.endswith('easy', 7, 26)
# returns True
print(result)

True
False
True

#### endswith() tuple sufix

In [135]:
text = "programming is easy"
result = text.endswith(('programming', 'python'))

# prints False
print(result)

result = text.endswith(('python', 'easy', 'java'))

#prints True
print(result)

# With start and end parameter
# 'programming is' string is checked
result = text.endswith(('is', 'an'), 0, 14)

# prints True
print(result)

False
True
True

### `str.capitalize()`: returns a copy of the string with its first character capitalized.

In [137]:
s1 = 'my cookie. this ball.'
s1.capitalize()

'My cookie. this ball.'

### `string.center(width[, fillchar])`

returns a string which is padded with the specified character.

#### center() Method With Default fillchar

In [138]:
string = "Python is awesome"

new_string = string.center(24)

print("Centered String: ", new_string)

Centered String:     Python is awesome

#### center() Method With * fillchar

In [139]:
string = "Python is awesome"

new_string = string.center(24, '*')

print("Centered String: ", new_string)

Centered String:  ***Python is awesome****

### `string.expandtabs(tabsize)`

returns a copy of string with all tab characters '\t' replaced with whitespace characters until the next multiple of tabsize parameter.

In [140]:
str = 'xyz\t12345\tabc'

# no argument is passed
# default tabsize is 8
result = str.expandtabs()

print(result)

xyz     12345   abc

In [141]:
str = "xyz\t12345\tabc"
print('Original String:', str)

# tabsize is set to 2
print('Tabsize 2:', str.expandtabs(2))

# tabsize is set to 3
print('Tabsize 3:', str.expandtabs(3))

# tabsize is set to 4
print('Tabsize 4:', str.expandtabs(4))

# tabsize is set to 5
print('Tabsize 5:', str.expandtabs(5))

# tabsize is set to 6
print('Tabsize 6:', str.expandtabs(6))

Original String: xyz	12345	abc
Tabsize 2: xyz 12345 abc
Tabsize 3: xyz   12345 abc
Tabsize 4: xyz 12345   abc
Tabsize 5: xyz  12345     abc
Tabsize 6: xyz   12345 abc

### `str.index(sub[, start[, end]] )`

returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.

In [142]:
text = 'Python is fun'

# find the index of is
result = text.index('is')
print(result)

# Output: 7

7

#### index() With Substring argument Only

In [143]:
sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

result = sentence.index('Java')
print("Substring 'Java':", result)

Substring 'is fun': 19

ValueError: ignored

#### index() With start and end Arguments

In [144]:
sentence = 'Python programming is fun.'

# Substring is searched in 'gramming is fun.'
print(sentence.index('ing', 10))

# Substring is searched in 'gramming is '
print(sentence.index('g is', 10, -4))

# Substring is searched in 'programming'
print(sentence.index('fun', 7, 18))

15
17

ValueError: ignored

<tbody><tr><th>Escape Sequence</th>
				<th>Description</th>
			</tr><tr><td>\newline</td>
				<td>Backslash and newline ignored</td>
			</tr><tr><td>\\</td>
				<td>Backslash</td>
			</tr><tr><td>\'</td>
				<td>Single quote</td>
			</tr><tr><td>\"</td>
				<td>Double quote</td>
			</tr><tr><td>\a</td>
				<td>ASCII Bell</td>
			</tr><tr><td>\b</td>
				<td>ASCII Backspace</td>
			</tr><tr><td>\f</td>
				<td>ASCII Formfeed</td>
			</tr><tr><td>\n</td>
				<td>ASCII Linefeed</td>
			</tr><tr><td>\r</td>
				<td>ASCII Carriage Return</td>
			</tr><tr><td>\t</td>
				<td>ASCII Horizontal Tab</td>
			</tr><tr><td>\v</td>
				<td>ASCII Vertical Tab</td>
			</tr><tr><td>\ooo</td>
				<td>Character with octal value ooo</td>
			</tr><tr><td>\xHH</td>
				<td>Character with hexadecimal value HH</td>
			</tr></tbody>

In [145]:
print("C:\\Python32\\Lib")
#C:\Python32\Lib

print("This is printed\nin two lines")
#This is printed
#in two lines

print("This is \x48\x45\x58 representation")
#This is HEX representation

C:\Python32\Lib
This is printed
in two lines
This is HEX representation

## Miscellaneous String Functions


<table class="tg"><tbody><tr><th class="tg-s268">Function</th><th class="tg-s268">Description</th></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24017/python-string-isalnum">isalnum()</a></td><td class="tg-md4w">Python string isalnum() function returns True if it’s made of alphanumeric characters only.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24026/python-string-isalpha">isalpha()</a></td><td class="tg-s268">Python String isalpha() function returns True if all the characters in the string are alphabets, otherwise False.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24032/python-string-isdecimal">isdecimal()</a></td><td class="tg-md4w">Python String isdecimal() function returns True if all the characters in the string are decimal characters, otherwise False.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24049/python-string-isdigit">isdigit()</a></td><td class="tg-s268">Python String isdigit() function returns True if all the characters in the string are digits, otherwise False.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24059/python-string-isidentifier">isidentifier()</a></td><td class="tg-md4w">Python String isidentifier() function returns True if the string is a valid identifier according to the Python language definition.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24117/python-string-islower">islower()</a></td><td class="tg-s268">Python String islower() returns True if all cased characters in the string are lowercase and there is at least one cased character, otherwise it returns False.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24122/python-string-isnumeric">isnumeric()</a></td><td class="tg-md4w">Python String isnumeric() function returns True if all the characters in the string are numeric, otherwise False. If the string is empty, then this function returns False.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24137/python-string-isprintable">isprintable()</a></td><td class="tg-s268">Python String isprintable() function returns True if all characters in the string are printable or the string is empty, False otherwise.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24255/python-string-isspace">isspace()</a></td><td class="tg-md4w">Python String isspace() function returns True if there are only whitespace characters in the string, otherwise it returns False.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24263/python-string-istitle">istitle()</a></td><td class="tg-s268">Python String istitle() returns True if the string is title cased and not empty, otherwise it returns False.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24273/python-string-isupper">isupper()</a></td><td class="tg-md4w">Python String isupper() function returns True if all the cased characters are in Uppercase.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24393/python-string-rjust-ljust">rjust(), ljust()</a></td><td class="tg-s268">Utility functions to create a new string of specified length from the source string with right and left justification.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24413/python-string-swapcase">swapcase()</a></td><td class="tg-md4w">Python String swapcase() function returns a new string with uppercase characters converted to lowercase and vice versa.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24420/python-string-partition-rpartition">partition()</a></td><td class="tg-s268">Python String partition() function splits a string based on a separator into a tuple with three strings.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24530/python-string-splitlines">splitlines()</a></td><td class="tg-md4w">Python String splitlines() function returns the list of lines in the string.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/24537/python-string-title">title()</a></td><td class="tg-s268">Python String title() function returns a title cased version of the string.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/24546/python-string-zfill">zfill()</a></td><td class="tg-md4w">Python String zfill(width) function returns a new string of specified width. The string is filled with 0 on the left side to create the specified width.</td></tr></tbody></table>

### `string.isalnum()`

returns True if all characters in the string are alphanumeric (either alphabets or numbers). If not, it returns False.

In [146]:
name = "M234onica"
print(name.isalnum())

# contains whitespace
name = "M3onica Gell22er "
print(name.isalnum())

name = "Mo3nicaGell22er"
print(name.isalnum())

name = "133"
print(name.isalnum())

True
False
True
True

In [147]:
name = "M0n1caG3ll3r"

if name.isalnum() == True:
   print("All characters of string (name) are alphanumeric.")
else:
    print("All characters are not alphanumeric.")

All characters of string (name) are alphanumeric.

### `string.isalpha()`

returns True if all characters in the string are alphabets. If not, it returns False.

In [148]:
name = "Monica"
print(name.isalpha())

# contains whitespace
name = "Monica Geller"
print(name.isalpha())

# contains number
name = "Mo3nicaGell22er"
print(name.isalpha())

True
False
False

In [149]:
name = "MonicaGeller"

if name.isalpha() == True:
   print("All characters are alphabets")
else:
    print("All characters are not alphabets.")

All characters are alphabets

### `string.isdecimal()`

returns True if all characters in a string are decimal characters. If not, it returns False.

In [150]:
s = "28212"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdecimal())

True
False
False

In [151]:
s = '23455'
print(s.isdecimal())

#s = '²3455'
s = '\u00B23455'
print(s.isdecimal())

# s = '½'
s = '\u00BD'
print(s.isdecimal())

True
False
False

### `string.isdigit()`

returns True if all characters in a string are digits. If not, it returns False.

In [152]:
str1 = '342'
print(str1.isdigit())

str2 = 'python'
print(str2.isdigit())

# Output: True
#         False

True
False

In [153]:
s = "28212"
print(s.isdigit())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdigit())

True
False

#### String Containing digits and Numeric Characters

In [154]:
s = '23455'
print(s.isdigit())

#s = '²3455'
# subscript is a digit
s = '\u00B23455'
print(s.isdigit())

# s = '½'
# fraction is not a digit
s = '\u00BD'
print(s.isdigit())

True
True
False

### `string.isidentifier()`

returns True if the string is a valid identifier in Python. If not, it returns False.

In [155]:
str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

str = '22Python'
print(str.isidentifier())

str = ''
print(str.isidentifier())

True
False
False
False

In [156]:
str = 'root33'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')
  
str = '33root'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')
  
str = 'root 33'
if str.isidentifier() == True:
  print(str, 'is a valid identifier.')
else:
  print(str, 'is not a valid identifier.')

root33 is a valid identifier.
33root is not a valid identifier.
root 33 is not a valid identifier.

### `string.islower()`

returns True if all alphabets in a string are lowercase alphabets. If the string contains at least one uppercase alphabet, it returns False.

In [157]:
s = 'this is good'
print(s.islower())

s = 'th!s is a1so g00d'
print(s.islower())

s = 'this is Not good'
print(s.islower())

True
True
False

In [158]:
s = 'this is good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')
  
s = 'this is Good'
if s.islower() == True:
  print('Does not contain uppercase letter.')
else:
  print('Contains uppercase letter.')

Does not contain uppercase letter.
Contains uppercase letter.

### `string.isupper()`

returns whether or not all characters in a string are uppercased or not.

In [159]:
# example string
string = "THIS IS GOOD!"
print(string.isupper());

# numbers in place of alphabets
string = "THIS IS ALSO G00D!"
print(string.isupper());

# lowercase string
string = "THIS IS not GOOD!"
print(string.isupper());

True
True
False

In [160]:
string = 'THIS IS GOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')
  
string = 'THIS IS gOOD'
if string.isupper() == True:
  print('Does not contain lowercase letter.')
else:
  print('Contains lowercase letter.')

Does not contain lowercase letter.
Contains lowercase letter.

### `string.isnumeric()`

returns True if all characters in a string are numeric characters. If not, it returns False.

In [161]:
s = '1242323'
print(s.isnumeric())

#s = '²3455'
s = '\u00B23455'
print(s.isnumeric())

# s = '½'
s = '\u00BD'
print(s.isnumeric())

s = '1242323'
s='python12'
print(s.isnumeric())

True
True
True
False

In [162]:
#s = '²3455'
s = '\u00B23455'

if s.isnumeric() == True:
  print('All characters are numeric.')
else:
  print('All characters are not numeric.')

All characters are numeric.

### `string.isprintable()`

returns True if all characters in the string are printable or the string is empty. If not, it returns False.

Characters that occupy printing space on the screen are known as printable characters. For example:

* letters and symbols
* digits
* punctuation
* whitespace

In [163]:
s = 'Space is a printable'
print(s)
print(s.isprintable())

s = '\nNew Line is printable'
print(s)
print(s.isprintable())

s = ''
print('\nEmpty string printable?', s.isprintable())

Space is a printable
True

New Line is printable
False

Empty string printable? True

In [164]:
# written using ASCII
# chr(27) is escape character
# char(97) is letter 'a'
s = chr(27) + chr(97)

if s.isprintable() == True:
  print('Printable')
else:
  print('Not Printable')
  
s = '2+2 = 4'

if s.isprintable() == True:
  print('Printable')
else:
  print('Not Printable')

Not Printable
Printable

### `string.isspace()`

returns True if there are only whitespace characters in the string. If not, it return False.

In [165]:
s = '   \t'
print(s.isspace())

s = ' a '
print(s.isspace())

s = ''
print(s.isspace())

True
False
False

In [166]:
s = '\t  \n'
if s.isspace() == True:
  print('All whitespace characters')
else:
  print('Contains non-whitespace characters')
  
s = '2+2 = 4'

if s.isspace() == True:
  print('All whitespace characters')
else:
  print('Contains non-whitespace characters.')

All whitespace characters
Contains non-whitespace characters.

### Syntax: `str.title()`

returns a string with first letter of each word capitalized; a title cased string.

### title() with apostrophes

In [167]:
text = "He's an engineer, isn't he?"
print(text.title())

He'S An Engineer, Isn'T He?

### `string.istitle()`

returns True if the string is a titlecased string. If not, it returns False.

In [168]:
s = 'Python Is Good.'
print(s.istitle())

s = 'Python is good'
print(s.istitle())

s = 'This Is @ Symbol.'
print(s.istitle())

s = '99 Is A Number'
print(s.istitle())

s = 'PYTHON'
print(s.istitle())

True
False
True
True
False

In [169]:
s = 'I Love Python.'
if s.istitle() == True:
  print('Titlecased String')
else:
  print('Not a Titlecased String')
  
s = 'PYthon'
if s.istitle() == True:
  print('Titlecased String')
else:
  print('Not a Titlecased String')

Titlecased String
Not a Titlecased String

### zfill() works with Sign Prefix

In [170]:
number = "-290"
print(number.zfill(8))

number = "+290"
print(number.zfill(8))

text = "--random+text"
print(text.zfill(20))

-0000290
+0000290
-0000000-random+text

In [171]:
text = 'My favorite number is 25.'
print(text.title())

text = '234 k3l2 *43 fun'
print(text.title())

My Favorite Number Is 25.
234 K3L2 *43 Fun

### Syntax: `str.zfill(width)`

returns a copy of the string with '0' characters padded to the left.

### Example:

In [172]:
text = "program is fun"
print(text.zfill(15))
print(text.zfill(20))
print(text.zfill(10))

0program is fun
000000program is fun
program is fun

## Built-in Functions that work on String


<table class="tg"><tbody><tr><th class="tg-s268">Function</th><th class="tg-s268">Description</th></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/23631/find-string-length-in-python">len()</a></td><td class="tg-md4w">Python String length can be determined by using built-in len() function.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/22644/python-ascii">ascii()</a></td><td class="tg-s268">Python ascii() function returns the string representation of the object. This function internally calls repr() function and before returning the representation string, escapes the non-ASCII characters using \x, \u or \U escapes.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/22669/python-bool">bool()</a></td><td class="tg-md4w">Python bool() function returns Boolean value for an object. The bool class has only two instances – True and False.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/22703/python-bytearray">bytearray()</a></td><td class="tg-s268">Python bytearray() function returns a bytearray object that contains the array of bytes from the input source.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/22747/python-bytes">bytes()</a></td><td class="tg-md4w">This function returns bytes object that is an immutable sequence of integers in the range 0 &lt;= x &lt; 256.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/22767/python-ord-chr">ord()</a></td><td class="tg-s268">Python ord() function takes string argument of a single Unicode character and return its integer Unicode code point value.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/15082/python-enumerate">enumerate()</a></td><td class="tg-md4w">Python enumerate function takes a sequence, and then make each element of the sequence into a tuple.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/15178/python-float">float()</a></td><td class="tg-s268">As the name says, python float() function returns a floating point number from the input argument.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/17357/python-hash-function">hash()</a></td><td class="tg-md4w">This function returns the hash value of the given object.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/22925/python-id">id()</a></td><td class="tg-s268">Python id() function returns the “identity” of the object. The identity of an object is an integer, which is guaranteed to be unique and constant for this object during its lifetime.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/22929/python-int">int()</a></td><td class="tg-md4w">Python int() function returns an integer object from the specified input. The returned int object will always be in base 10.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/22960/python-map-function">map()</a></td><td class="tg-s268">Python map() function is used to apply a function on all the elements of specified iterable and return map object.</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/15182/python-print">print()</a></td><td class="tg-md4w">Python print() function is used to print data into console.</td></tr><tr><td class="tg-s268"><a href="https://www.journaldev.com/23139/python-slice">slice()</a></td><td class="tg-s268">Python slice() function returns a slice object representing the set of indices specified by range(start, stop, step).</td></tr><tr><td class="tg-md4w"><a href="https://www.journaldev.com/15076/python-type">type()</a></td><td class="tg-md4w">This function returns the type of the object.</td></tr></tbody></table>

## Common String Operations

### Built-in functions to Work with Python
Almost all built-in functions that work with sequence work with strings as well.

### Raw String to ignore escape sequence

In [173]:
print("This is \x61 \ngood example")
#This is a
#good example
print(r"This is \x61 \ngood example")
#This is \x61 \ngood example

This is a
good example
This is \x61 \ngood example

### `str.islower()`: returns true if all characters in the string are lowercase, false otherwise.

In [174]:
snack = '20cooKie'
result = snack.islower()
if result == True:
  print("Yes")
else:
  print("no not in lower case.")

no not in lower case.

### `str.find(substring)`: returns the lowest index in the string where the substring is found.

### `str.isspace()`: returns True if there are only whitespace characters in the string, false otherwise.

In [175]:
str_space = '   '
print("str_space: ", str_space.isspace())

str_tab = '\t'

print("tab: ", str_tab.isspace())
str_nextline = '''\n'''
print("next line: ",str_nextline.isspace())

str_space:  True
tab:  True
next line:  True

### `str.lstrip()`: removes all leading whitespace in string.

In [176]:
str1 = " I can't hear you. Are you alright? "
str2 = " Yes, all is good."
str3 = str1.lstrip() + str2.lstrip()
print(str3)
print(str3[0])

I can't hear you. Are you alright? Yes, all is good.
I

### `str.isdigit()`: returns True if string contains only digits and False otherwise.

In [177]:
number_string = "1020a304050"
number_string.isdigit()

False

### `str.replace(substring, new)`: replaces all occurrences of the substring in string with new.

In [178]:
string1 = 'hip hip hurray! hip hip hurray! hip hip hurray!'
string2 = string1.replace('hip', 'Hip')
print(string1)
print(string2)

hip hip hurray! hip hip hurray! hip hip hurray!
Hip Hip hurray! Hip Hip hurray! Hip Hip hurray!

In [179]:
string1.replace('hip', 'Hip', 4)
#help(str.replace)

'Hip Hip hurray! Hip Hip hurray! hip hip hurray!'

### `str.split(delimiter="")`: splits the string according to the delimiter (space if not provided) and returns a list of substrings.

In [180]:
dessert = 'Cake, Cookie, Icecream'
list_dessert = dessert.split(',')
print(list_dessert)

['Cake', ' Cookie', ' Icecream']

### `str.index(sub[, start[, end]] )`: The index() method returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception. Similar to `str.find()`

In [181]:
text = 'Python is fun'

# find the index of is
result = text.index('is')
print(result)

# Output: 7

7

#### index() With Substring argument Only

In [182]:
sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

result = sentence.index('Java')
print("Substring 'Java':", result)

Substring 'is fun': 19

ValueError: ignored

#### index() With start and end Arguments

In [183]:
sentence = 'Python programming is fun.'

# Substring is searched in 'gramming is fun.'
print(sentence.index('ing', 10))

# Substring is searched in 'gramming is '
print(sentence.index('g is', 10, -4))

# Substring is searched in 'programming'
print(sentence.index('fun', 7, 18))

15
17

ValueError: ignored

### string.isalnum()

In [184]:
name = "M234#onica"
print(name.isalnum())

# contains whitespace
name = "M3onica Gell22er "
print(name.isalnum())

name = "Mo3nicaGell22er"
print(name.isalnum())

name = "133"
print(name.isalnum())

False
False
True
True

In [185]:
name = "M0n1caG3ll3r"

if name.isalnum() == True:
   print("All characters of string (name) are alphanumeric.")
else:
    print("All characters are not alphanumeric.")

All characters of string (name) are alphanumeric.

### string.isalpha()

In [186]:
name = "Monica"
print(name.isalpha())

# contains whitespace
name = "Monica Geller"
print(name.isalpha())

# contains number
name = "Mo3nicaGell22er"
print(name.isalpha())

True
False
False

In [187]:
name = "MonicaGeller"

if name.isalpha() == True:
   print("All characters are alphabets")
else:
    print("All characters are not alphabets.")

All characters are alphabets

### string.isdecimal()

In [188]:
s = "28212"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdecimal())

True
False
False

#### String Containing digits and Numeric Characters

In [189]:
s = '23455'
print(s.isdecimal())

#s = '²3455'
s = '\u00B23455'
print(s.isdecimal())

# s = '½'
s = '\u00BD'
print(s.isdecimal())

True
False
False

### `str.find(sub[, start[, end]] )`: The find() method returns the index of first occurrence of the substring (if found). If not found, it returns -1.

In [190]:
message = 'Python is a fun programming language'

# check the index of 'fun'
print(message.find('fun'))

12

### find() With No start and end Argument

In [191]:
quote = 'Let it be, let it be, let it be'

# first occurance of 'let it'(case sensitive)
result = quote.find('let it')
print("Substring 'let it':", result)

# find returns -1 if substring not found
result = quote.find('small')
print("Substring 'small ':", result)

# How to use find()
if (quote.find('be,') != -1):
    print("Contains substring 'be,'")
else:
    print("Doesn't contain substring")

Substring 'let it': 11
Substring 'small ': -1
Contains substring 'be,'

### find() With start and end Arguments

In [192]:
quote = 'Do small things with great love'

# Substring is searched in 'hings with great love'
print(quote.find('small things', 10))

# Substring is searched in ' small things with great love' 
print(quote.find('small things', 2))

# Substring is searched in 'hings with great lov'
print(quote.find('o small ', 10, -1))

# Substring is searched in 'll things with'
print(quote.find('things ', 6, 20))

-1
3
-1
9

In [193]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

# Codechef Proplems on String

https://www.codechef.com/problems/LONGSEQ